artificial-intelligence/blueprint-nlp-ai.json
{
    "name": "本質を見るための概念装置",
    "flow": [
        {
            "id": 2,
            "module": "util:SetVariable2",
            "version": 1,
            "parameters": {},
            "mapper": {
                "name": "あるモノゴト",
                "scope": "roundtrip",
                "value": "https://ainsoph.org/"
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0,
                    "name": "虚構の世界"
                },
                "restore": {
                    "scope": {
                        "label": "One cycle"
                    }
                },
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    },
                    {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                    }
                ],
                "interface": [
                    {
                        "name": "あるモノゴト",
                        "type": "any",
                        "label": "あるモノゴト"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "http:ActionSendData",
            "version": 3,
            "parameters": {
                "handleErrors": false,
                "useNewZLibDeCompress": "true"
            },
            "mapper": {
                "ca": "",
                "qs": [],
                "url": "{{2.`あるモノゴト`}}",
                "gzip": true,
                "method": "get",
                "headers": [],
                "timeout": "",
                "useMtls": false,
                "authPass": "",
                "authUser": "",
                "bodyType": "",
                "serializeUrl": false,
                "shareCookies": false,
                "parseResponse": true,
                "followRedirect": true,
                "useQuerystring": false,
                "followAllRedirects": false,
                "rejectUnauthorized": true
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0,
                    "name": "情報を入手"
                },
                "restore": {
                    "qs": {
                        "mode": "chose",
                        "items": []
                    },
                    "method": {
                        "mode": "chose",
                        "label": "GET"
                    },
                    "headers": {
                        "mode": "chose",
                        "items": []
                    },
                    "bodyType": {
                        "label": ""
                    }
                },
                "parameters": [
                    {
                        "name": "handleErrors",
                        "type": "boolean",
                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                        "required": true
                    },
                    {
                        "name": "useNewZLibDeCompress",
                        "type": "hidden"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "serializeUrl",
                        "type": "boolean",
                        "label": "Serialize URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers",
                        "labels": {
                            "add": "Add a header",
                            "edit": "Edit a header"
                        }
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Query String",
                        "labels": {
                            "add": "Add parameter",
                            "edit": "Edit parameter"
                        }
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "validate": {
                            "enum": [
                                "raw",
                                "x_www_form_urlencoded",
                                "multipart_form_data"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "authUser",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "authPass",
                        "type": "password",
                        "label": "Password"
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "ca",
                        "type": "cert",
                        "label": "Self-signed certificate",
                        "multiline": true
                    },
                    {
                        "name": "rejectUnauthorized",
                        "type": "boolean",
                        "label": "Reject connections that are using unverified (self-signed) certificates",
                        "required": true
                    },
                    {
                        "name": "followRedirect",
                        "type": "boolean",
                        "label": "Follow redirect",
                        "required": true
                    },
                    {
                        "name": "useQuerystring",
                        "type": "boolean",
                        "label": "Disable serialization of multiple same query string keys as arrays",
                        "required": true
                    },
                    {
                        "name": "gzip",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "useMtls",
                        "type": "boolean",
                        "label": "Use Mutual TLS",
                        "required": true
                    },
                    {
                        "name": "followAllRedirects",
                        "type": "boolean",
                        "label": "Follow all redirect",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "regexp:HTMLToText",
            "version": 1,
            "parameters": {},
            "mapper": {
                "html": "{{4.data}}",
                "newline": "lf",
                "uppercaseHeadings": true
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0,
                    "name": "タマネギの皮を…"
                },
                "restore": {
                    "newline": {
                        "label": "LF (\\n) - Unix/Mac OS X"
                    }
                },
                "expect": [
                    {
                        "name": "html",
                        "type": "text",
                        "label": "HTML"
                    },
                    {
                        "name": "newline",
                        "type": "select",
                        "label": "Line break",
                        "required": true,
                        "validate": {
                            "enum": [
                                "lf",
                                "crlf",
                                "cr"
                            ]
                        }
                    },
                    {
                        "name": "uppercaseHeadings",
                        "type": "boolean",
                        "label": "Uppercase headings",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "util:SetVariable2",
            "version": 1,
            "parameters": {},
            "mapper": {
                "name": "本質データ",
                "scope": "roundtrip",
                "value": "{{stripHTML(4.data)}}"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0,
                    "name": "剥きに剥いて…"
                },
                "restore": {
                    "scope": {
                        "label": "One cycle"
                    }
                },
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    },
                    {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                    }
                ],
                "interface": [
                    {
                        "name": "本質データ",
                        "type": "any",
                        "label": "本質データ"
                    }
                ]
            }
        },
        {
            "id": 12,
            "module": "deepl:translateText",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 3322936
            },
            "mapper": {
                "text": "{{6.`本質データ`}}",
                "source_lang": "JA",
                "target_lang": "EN-GB"
            },
            "metadata": {
                "designer": {
                    "x": 416,
                    "y": 347
                },
                "restore": {
                    "__IMTCONN__": {
                        "label": "DeepL Free"
                    },
                    "glossary_id": {
                        "mode": "chose",
                        "label": ""
                    },
                    "source_lang": {
                        "mode": "chose",
                        "label": "Japanese"
                    },
                    "target_lang": {
                        "mode": "chose",
                        "label": "English (British)"
                    },
                    "tag_handling": {
                        "mode": "chose",
                        "label": ""
                    },
                    "split_sentences": {
                        "mode": "chose",
                        "label": ""
                    },
                    "outline_detection": {
                        "mode": "chose"
                    },
                    "preserve_formatting": {
                        "mode": "chose"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Text",
                        "required": true
                    },
                    {
                        "name": "target_lang",
                        "type": "select",
                        "label": "Target Language",
                        "required": true
                    },
                    {
                        "name": "source_lang",
                        "type": "select",
                        "label": "Source Language"
                    },
                    {
                        "name": "split_sentences",
                        "type": "select",
                        "label": "Split Sentences",
                        "validate": {
                            "enum": [
                                "0",
                                "1",
                                "nonewlines"
                            ]
                        }
                    },
                    {
                        "name": "preserve_formatting",
                        "type": "boolean",
                        "label": "Preserve Formatting"
                    },
                    {
                        "name": "glossary_id",
                        "type": "select",
                        "label": "Glossary ID"
                    },
                    {
                        "name": "tag_handling",
                        "type": "select",
                        "label": "Tag Handling",
                        "validate": {
                            "enum": [
                                "xml"
                            ]
                        }
                    },
                    {
                        "name": "non_splitting_tags",
                        "type": "text",
                        "label": "Non Splitting Tags"
                    },
                    {
                        "name": "outline_detection",
                        "type": "boolean",
                        "label": "Outline Detection"
                    },
                    {
                        "name": "splitting_tags",
                        "type": "text",
                        "label": "Splitting Tags"
                    },
                    {
                        "name": "ignore_tags",
                        "type": "text",
                        "label": "Ignored Tags"
                    }
                ]
            }
        },
        {
            "id": 8,
            "module": "onesaas:stimmungserkennung",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 3198912
            },
            "mapper": {
                "text": "{{12.translations[].text}}"
            },
            "metadata": {
                "designer": {
                    "x": 750,
                    "y": 346,
                    "name": "本質を抽出！"
                },
                "restore": {
                    "__IMTCONN__": {
                        "label": "1saas"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Text",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 11,
            "module": "util:SetVariables",
            "version": 1,
            "parameters": {},
            "mapper": {
                "scope": "roundtrip",
                "variables": [
                    {
                        "name": "感情",
                        "value": "{{8.sentiment}}"
                    },
                    {
                        "name": "ポジティブ",
                        "value": "{{8.confidenceScores.positive}}"
                    },
                    {
                        "name": "ニュートラル",
                        "value": "{{8.confidenceScores.neutral}}"
                    },
                    {
                        "name": "ネガティブ",
                        "value": "{{8.confidenceScores.negative}}"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 1063,
                    "y": 346,
                    "name": "幻想の素材"
                },
                "restore": {
                    "scope": {
                        "label": "One cycle"
                    },
                    "variables": {
                        "items": [
                            "undefined",
                            "undefined",
                            "undefined",
                            "undefined"
                        ]
                    }
                },
                "expect": [
                    {
                        "name": "variables",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Variable name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "any",
                                "label": "Variable value"
                            }
                        ],
                        "type": "array",
                        "label": "Variables"
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "感情",
                        "type": "any",
                        "label": "感情"
                    },
                    {
                        "name": "ポジティブ",
                        "type": "any",
                        "label": "ポジティブ"
                    },
                    {
                        "name": "ニュートラル",
                        "type": "any",
                        "label": "ニュートラル"
                    },
                    {
                        "name": "ネガティブ",
                        "type": "any",
                        "label": "ネガティブ"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "shatter": false,
            "maxErrors": 3,
            "autoCommit": false,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.integromat.com"
    }
}