artificial-intelligence/blueprint-resume-analysis-with-pdfco-1saas.json
{
    "name": "pre analyse a resume with AI",
    "flow": [
        {
            "id": 2,
            "module": "google-drive:getAFile",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 2042
            },
            "mapper": {
                "file": "",
                "select": "value",
                "destination": "drive",
                "formatDrawings": "image/jpeg",
                "formatDocuments": "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                "formatSpreadsheets": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                "formatPresentations": "application/vnd.openxmlformats-officedocument.presentationml.presentation"
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0,
                    "name": "get PDF resume"
                },
                "restore": {
                    "expect": {
                        "file": {
                            "path": [
                                "public",
                                "PDF.co",
                                "Profile.pdf"
                            ]
                        },
                        "select": {
                            "label": "Select from the list"
                        },
                        "destination": {
                            "label": "My Drive"
                        },
                        "formatDrawings": {
                            "label": "JPEG"
                        },
                        "formatDocuments": {
                            "label": "MS Word Document"
                        },
                        "formatSpreadsheets": {
                            "label": "MS Excel"
                        },
                        "formatPresentations": {
                            "label": "MS PowerPoint"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-restricted"
                            },
                            "label": "Google"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-restricted",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Enter a File ID",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "value"
                            ]
                        }
                    },
                    {
                        "name": "formatDocuments",
                        "type": "select",
                        "label": "Convert Google Documents Files to Format",
                        "required": true,
                        "validate": {
                            "enum": [
                                "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                                "application/pdf",
                                "application/vnd.oasis.opendocument.text",
                                "text/html",
                                "text/plain",
                                "application/rtf"
                            ]
                        }
                    },
                    {
                        "name": "formatSpreadsheets",
                        "type": "select",
                        "label": "Convert Google Spreadsheets Files to Format",
                        "required": true,
                        "validate": {
                            "enum": [
                                "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                                "application/x-vnd.oasis.opendocument.spreadsheet",
                                "application/pdf"
                            ]
                        }
                    },
                    {
                        "name": "formatPresentations",
                        "type": "select",
                        "label": "Convert Google Slides Files to Format",
                        "required": true,
                        "validate": {
                            "enum": [
                                "application/vnd.openxmlformats-officedocument.presentationml.presentation",
                                "application/pdf"
                            ]
                        }
                    },
                    {
                        "name": "formatDrawings",
                        "type": "select",
                        "label": "Convert Google Drawings Files to Format",
                        "required": true,
                        "validate": {
                            "enum": [
                                "image/jpeg",
                                "image/png",
                                "image/svg+xml",
                                "application/pdf"
                            ]
                        }
                    },
                    {
                        "name": "destination",
                        "type": "select",
                        "label": "Choose a Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "file",
                        "type": "file",
                        "label": "File ID",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "pdf-co:PDFToAnything",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 2047
            },
            "mapper": {
                "async": 15000,
                "pages": "0-1",
                "export": {
                    "exportType": "inline"
                },
                "import": {
                    "data": "{{2.data}}",
                    "name": "{{2.name}}",
                    "importType": "upload"
                },
                "inline": true,
                "convert": {
                    "convertType": "toTextSimple"
                },
                "expiration": "60"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0,
                    "name": "PDF to text"
                },
                "restore": {
                    "expect": {
                        "async": {
                            "mode": "chose",
                            "label": "15 sec"
                        },
                        "export": {
                            "nested": {
                                "exportType": {
                                    "label": "JSON Output"
                                }
                            }
                        },
                        "import": {
                            "nested": {
                                "importType": {
                                    "label": "Upload a File"
                                }
                            }
                        },
                        "inline": {
                            "mode": "chose"
                        },
                        "convert": {
                            "nested": {
                                "convertType": {
                                    "label": "PDF to Text (simple, no layout, fast)"
                                }
                            }
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "pdf-co"
                            },
                            "label": "PDF.co"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:pdf-co",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "import",
                        "spec": [
                            {
                                "name": "importType",
                                "type": "select",
                                "label": "Input File",
                                "required": true,
                                "validate": {
                                    "enum": [
                                        "upload",
                                        "url"
                                    ]
                                }
                            },
                            {
                                "name": "data",
                                "type": "buffer",
                                "label": "Data",
                                "required": true
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Output File Name"
                            }
                        ],
                        "type": "collection",
                        "label": "Import Options",
                        "required": true
                    },
                    {
                        "name": "convert",
                        "spec": [
                            {
                                "name": "convertType",
                                "type": "select",
                                "label": "Convert Type",
                                "required": true,
                                "validate": {
                                    "enum": [
                                        "toTextSimple",
                                        "toText",
                                        "toCsv",
                                        "toJson2",
                                        "toJson",
                                        "toXml",
                                        "toHtml",
                                        "toJpg",
                                        "toPng",
                                        "toTiff"
                                    ]
                                }
                            }
                        ],
                        "type": "collection",
                        "label": "Convert Options",
                        "required": true
                    },
                    {
                        "name": "pages",
                        "type": "text",
                        "label": "Pages"
                    },
                    {
                        "name": "password",
                        "type": "text",
                        "label": "Password"
                    },
                    {
                        "name": "inline",
                        "type": "boolean",
                        "label": "Inline"
                    },
                    {
                        "name": "async",
                        "type": "select",
                        "label": "Async",
                        "validate": {
                            "enum": [
                                15000,
                                false
                            ]
                        }
                    },
                    {
                        "name": "profiles",
                        "type": "text",
                        "label": "Profiles"
                    },
                    {
                        "name": "expiration",
                        "type": "number",
                        "label": "Output Links Expiration"
                    },
                    {
                        "name": "export",
                        "spec": [
                            {
                                "name": "exportType",
                                "type": "select",
                                "label": "Export Type",
                                "required": true,
                                "validate": {
                                    "enum": [
                                        "downloadFile",
                                        "inline"
                                    ]
                                }
                            }
                        ],
                        "type": "collection",
                        "label": "Export options",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "regexp:Replace",
            "version": 1,
            "parameters": {},
            "mapper": {
                "text": "{{3.body}}",
                "value": "{{emptystring}}",
                "global": true,
                "pattern": "(mailto:.*)|(https:\\/\\/.*)|\\[Link\\]"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0,
                    "name": "remove unnecessary data"
                },
                "restore": {
                    "expect": {
                        "global": {
                            "mode": "chose"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "pattern",
                        "type": "text",
                        "label": "Pattern",
                        "required": true
                    },
                    {
                        "name": "value",
                        "type": "text",
                        "label": "New value"
                    },
                    {
                        "name": "global",
                        "type": "boolean",
                        "label": "Global match",
                        "required": true
                    },
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Text"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "onesaas:aientitydetection",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 139255
            },
            "mapper": {
                "text": "{{5.text}}"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "onesaas2"
                            },
                            "label": "1SaaS ver. 2"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:onesaas2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Text",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "builtin:BasicAggregator",
            "version": 1,
            "parameters": {
                "feeder": 4
            },
            "mapper": {
                "text": "{{4.text}}",
                "category": "{{4.category}}",
                "confidenceScore": "{{4.confidenceScore}}"
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0
                },
                "restore": {
                    "extra": {
                        "feeder": {
                            "label": "1SaaS.co - Get Text entities with NLP AI [4]"
                        },
                        "target": {
                            "label": "Custom"
                        }
                    }
                }
            }
        },
        {
            "id": 7,
            "module": "builtin:BasicFeeder",
            "version": 1,
            "parameters": {},
            "mapper": {
                "array": "{{6.array}}"
            },
            "metadata": {
                "designer": {
                    "x": 762,
                    "y": 318
                },
                "restore": {
                    "expect": {
                        "array": {
                            "mode": "edit"
                        }
                    }
                },
                "expect": [
                    {
                        "mode": "edit",
                        "name": "array",
                        "spec": [],
                        "type": "array",
                        "label": "Array"
                    }
                ]
            }
        },
        {
            "id": 12,
            "module": "util:TextAggregator",
            "version": 1,
            "parameters": {
                "feeder": 7,
                "rowSeparator": "other",
                "otherRowSeparator": "-----"
            },
            "filter": {
                "name": "skill?",
                "conditions": [
                    [
                        {
                            "a": "{{7.category}}",
                            "b": "Skill",
                            "o": "text:equal"
                        }
                    ]
                ]
            },
            "mapper": {
                "value": "{{7.text}}: {{parseNumber(7.confidenceScore) * 100}}"
            },
            "metadata": {
                "designer": {
                    "x": 1062,
                    "y": 318,
                    "name": "get all skills"
                },
                "restore": {
                    "extra": {
                        "feeder": {
                            "label": "Iterator [7]"
                        }
                    },
                    "parameters": {
                        "rowSeparator": {
                            "label": "Other"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "rowSeparator",
                        "type": "select",
                        "label": "Row separator",
                        "validate": {
                            "enum": [
                                "\n",
                                "\t",
                                "other"
                            ]
                        }
                    },
                    {
                        "name": "otherRowSeparator",
                        "type": "text",
                        "label": "Separator"
                    }
                ],
                "expect": [
                    {
                        "name": "value",
                        "type": "text",
                        "label": "Text"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 13,
            "module": "util:SetVariable2",
            "version": 1,
            "parameters": {},
            "mapper": {
                "name": "arr_skills",
                "scope": "roundtrip",
                "value": "{{deduplicate(split(12.text; \"-----\"))}}"
            },
            "metadata": {
                "designer": {
                    "x": 1362,
                    "y": 318,
                    "name": "skills"
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    },
                    {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                    }
                ],
                "interface": [
                    {
                        "name": "arr_skills",
                        "type": "any",
                        "label": "arr_skills"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us1.make.com"
    }
}