artificial-intelligence/blueprint-nlp-ai-hubspot.json
{
    "name": "implement NLP into your customer support",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 1304,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0,
                    "name": "from contact fom"
                },
                "restore": {
                    "hook": {
                        "label": "UMSO (Ethical Works)"
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": [
                    {
                        "name": "Domain",
                        "type": "text"
                    },
                    {
                        "name": "Site ID",
                        "type": "text"
                    },
                    {
                        "name": "Submitted At",
                        "type": "text"
                    },
                    {
                        "name": "Opt-in",
                        "type": "text"
                    },
                    {
                        "name": "Message",
                        "type": "text"
                    },
                    {
                        "name": "Email",
                        "type": "text"
                    },
                    {
                        "name": "First Name",
                        "type": "text"
                    },
                    {
                        "name": "Last Name",
                        "type": "text"
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "util:SetVariables",
            "version": 1,
            "parameters": {},
            "mapper": {
                "scope": "roundtrip",
                "variables": [
                    {
                        "name": "first_name",
                        "value": "{{stripHTML(1.`First Name`)}}"
                    },
                    {
                        "name": "last_name",
                        "value": "{{stripHTML(1.`Last Name`)}}"
                    },
                    {
                        "name": "email",
                        "value": "{{stripHTML(1.`Email`)}}"
                    },
                    {
                        "name": "message",
                        "value": "{{stripHTML(1.`Message`)}}"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0,
                    "name": "strip HTML tags"
                },
                "restore": {
                    "scope": {
                        "label": "One cycle"
                    },
                    "variables": {
                        "items": [
                            "undefined",
                            "undefined",
                            "undefined",
                            "undefined"
                        ]
                    }
                },
                "expect": [
                    {
                        "name": "variables",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Variable name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "any",
                                "label": "Variable value"
                            }
                        ],
                        "type": "array",
                        "label": "Variables"
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "first_name",
                        "type": "any",
                        "label": "first_name"
                    },
                    {
                        "name": "last_name",
                        "type": "any",
                        "label": "last_name"
                    },
                    {
                        "name": "email",
                        "type": "any",
                        "label": "email"
                    },
                    {
                        "name": "message",
                        "type": "any",
                        "label": "message"
                    }
                ]
            }
        },
        {
            "id": 18,
            "module": "onesaas:translatetext",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 2045
            },
            "mapper": {
                "textToTranslate": "{{7.message}}",
                "resultLang": "en"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "1saas",
                            "data": {
                                "scoped": "true",
                                "connection": "onesaas"
                            }
                        }
                    },
                    "expect": {
                        "resultLang": {
                            "mode": "chose",
                            "label": "English"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:onesaas",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "textToTranslate",
                        "type": "text",
                        "label": "Text",
                        "required": true
                    },
                    {
                        "name": "resultLang",
                        "type": "select",
                        "label": "Result Language",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 9,
            "module": "onesaas:stimmungserkennung",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 2045
            },
            "mapper": {
                "text": "{{18.translation}}"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0,
                    "name": "NLP with 1SaaS!"
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "1saas",
                            "data": {
                                "scoped": "true",
                                "connection": "onesaas"
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:onesaas",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Text",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 10,
            "module": "util:Switcher",
            "version": 1,
            "parameters": {},
            "mapper": {
                "input": "{{9.sentiment}}",
                "casesTable": [
                    {
                        "output": "{{add(emptyarray; 2; )}}LOW",
                        "pattern": "^positive$"
                    },
                    {
                        "output": "{{add(emptyarray; 3; \"MEDIUM\")}}",
                        "pattern": "^neutral$"
                    },
                    {
                        "output": "{{add(emptyarray; 4; \"HIGH\")}}",
                        "pattern": "^negative$"
                    }
                ],
                "elseOutput": "2",
                "useRegExpMatch": true
            },
            "metadata": {
                "designer": {
                    "x": 315,
                    "y": 449,
                    "name": "prioritise"
                },
                "restore": {
                    "casesTable": {
                        "mode": "chose",
                        "items": [
                            "undefined",
                            "undefined",
                            "undefined"
                        ]
                    }
                },
                "expect": [
                    {
                        "name": "input",
                        "type": "text",
                        "label": "Input"
                    },
                    {
                        "name": "useRegExpMatch",
                        "type": "boolean",
                        "label": "Use regular expressions to match",
                        "required": true
                    },
                    {
                        "name": "casesTable",
                        "spec": [
                            {
                                "name": "pattern",
                                "type": "text",
                                "label": "Pattern"
                            },
                            {
                                "name": "output",
                                "type": "any",
                                "label": "Output"
                            }
                        ],
                        "type": "array",
                        "label": "Cases",
                        "required": true
                    },
                    {
                        "name": "elseOutput",
                        "type": "any",
                        "label": "Else"
                    }
                ]
            }
        },
        {
            "id": 11,
            "module": "todoist:CreateItem",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 98788
            },
            "mapper": {
                "content": "{{7.last_name}}：{{substring(7.message; 0; 10)}}…",
                "description": "{{7.email}}\n{{7.message}}",
                "project_id": 00000000,
                "due": {
                    "type": "date",
                    "date": "{{addDays(now; 1)}}"
                },
                "auto_reminder": true,
                "section_id": 00000000
            },
            "metadata": {
                "designer": {
                    "x": 706,
                    "y": 445,
                    "name": "create marketing task"
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "Todoist",
                            "data": {
                                "scoped": "true",
                                "connection": "todoist"
                            }
                        }
                    },
                    "expect": {
                        "project_id": {
                            "mode": "chose",
                            "label": "Make Support"
                        },
                        "labels": {
                            "mode": "chose"
                        },
                        "due": {
                            "nested": {
                                "type": {
                                    "mode": "chose",
                                    "label": "Only date"
                                },
                                "is_recurring": {
                                    "mode": "chose"
                                }
                            }
                        },
                        "priority": {
                            "mode": "chose"
                        },
                        "responsible_uid": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "assigned_by_uid": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "auto_reminder": {
                            "mode": "chose"
                        },
                        "section_id": {
                            "mode": "chose",
                            "label": "Service"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:todoist",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "content",
                        "type": "text",
                        "label": "Content",
                        "required": true
                    },
                    {
                        "name": "description",
                        "type": "text",
                        "label": "Description"
                    },
                    {
                        "name": "project_id",
                        "type": "select",
                        "label": "Project"
                    },
                    {
                        "name": "labels",
                        "type": "select",
                        "label": "Labels",
                        "multiple": true
                    },
                    {
                        "name": "due",
                        "type": "collection",
                        "label": "Due date",
                        "spec": [
                            {
                                "name": "type",
                                "type": "select",
                                "label": "Format",
                                "validate": {
                                    "enum": [
                                        "date",
                                        "datetime"
                                    ]
                                }
                            },
                            {
                                "name": "date",
                                "type": "date",
                                "label": "Date"
                            },
                            {
                                "name": "string",
                                "type": "text",
                                "label": "Human-readable representation of due date"
                            },
                            {
                                "name": "is_recurring",
                                "type": "boolean",
                                "label": "Is recurring"
                            }
                        ]
                    },
                    {
                        "name": "priority",
                        "type": "select",
                        "label": "Priority",
                        "validate": {
                            "enum": [
                                4,
                                3,
                                2,
                                1
                            ]
                        }
                    },
                    {
                        "name": "parent_id",
                        "type": "text",
                        "label": "Parent ID"
                    },
                    {
                        "name": "responsible_uid",
                        "type": "select",
                        "label": "Responsible"
                    },
                    {
                        "name": "assigned_by_uid",
                        "type": "select",
                        "label": "Assigned by"
                    },
                    {
                        "name": "auto_reminder",
                        "type": "boolean",
                        "label": "Auto reminder"
                    },
                    {
                        "name": "section_id",
                        "type": "select",
                        "label": "Section"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 17,
            "module": "hubspotcrm:CreateTicket",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 2036
            },
            "mapper": {
                "stageId": "1",
                "pipelineId": "0",
                "properties": {
                    "content": "{{7.message}}",
                    "subject": "{{7.last_name}}：{{substring(7.message; 0; 10)}}",
                    "createdate": "{{now}}",
                    "closed_date": "",
                    "source_type": "FORM",
                    "hs_resolution": "",
                    "hs_file_upload": "",
                    "hubspot_owner_id": 00000000,
                    "hs_ticket_category": "PRODUCT_ISSUE",
                    "hs_ticket_priority": "{{get(10.output; 2)}}"
                },
                "propsEditMode": "choose_mode"
            },
            "metadata": {
                "designer": {
                    "x": 1058,
                    "y": 443,
                    "name": "create support ticket"
                },
                "restore": {
                    "stageId": {
                        "label": "New"
                    },
                    "pipelineId": {
                        "label": "Support Pipeline"
                    },
                    "properties": {
                        "nested": {
                            "source_type": {
                                "mode": "chose",
                                "label": "Form"
                            },
                            "hs_resolution": {
                                "mode": "chose",
                                "label": ""
                            },
                            "hubspot_owner_id": {
                                "mode": "chose",
                                "label": "Mana Kaneuchi"
                            },
                            "hs_ticket_category": {
                                "mode": "chose",
                                "label": "Product issue"
                            },
                            "hs_ticket_priority": {
                                "mode": "edit"
                            }
                        }
                    },
                    "__IMTCONN__": {
                        "label": "My HubSpot CRM"
                    },
                    "propsEditMode": {
                        "label": "Choosing Mode"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "propsEditMode",
                        "type": "select",
                        "label": "Properties Edit Mode",
                        "required": true,
                        "validate": false
                    },
                    {
                        "name": "pipelineId",
                        "type": "select",
                        "label": "Pipeline",
                        "required": true
                    },
                    {
                        "name": "properties",
                        "spec": [
                            {
                                "name": "hs_ticket_category",
                                "type": "select",
                                "label": "Category",
                                "validate": false,
                                "readOnlyDefinition": false
                            },
                            {
                                "name": "closed_date",
                                "type": "date",
                                "label": "Close date",
                                "readOnlyDefinition": true
                            },
                            {
                                "name": "createdate",
                                "type": "date",
                                "label": "Create date",
                                "readOnlyDefinition": true
                            },
                            {
                                "name": "hs_file_upload",
                                "type": "text",
                                "label": "File upload",
                                "readOnlyDefinition": true
                            },
                            {
                                "name": "hs_ticket_priority",
                                "type": "select",
                                "label": "Priority",
                                "validate": false,
                                "readOnlyDefinition": true
                            },
                            {
                                "name": "hs_resolution",
                                "type": "select",
                                "label": "Resolution",
                                "validate": false,
                                "readOnlyDefinition": true
                            },
                            {
                                "name": "source_type",
                                "type": "select",
                                "label": "Source",
                                "validate": false,
                                "readOnlyDefinition": true
                            },
                            {
                                "name": "content",
                                "type": "text",
                                "label": "Ticket description",
                                "readOnlyDefinition": true
                            },
                            {
                                "name": "subject",
                                "type": "text",
                                "label": "Ticket name",
                                "readOnlyDefinition": true
                            },
                            {
                                "name": "hubspot_owner_id",
                                "type": "select",
                                "label": "Ticket owner",
                                "validate": false,
                                "readOnlyDefinition": true
                            }
                        ],
                        "type": "collection",
                        "label": "Properties",
                        "required": false
                    },
                    {
                        "name": "stageId",
                        "type": "select",
                        "label": "Stage",
                        "required": true,
                        "validate": {
                            "enum": [
                                "2",
                                "3",
                                "1",
                                "4"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "objectType",
                        "type": "text",
                        "label": "Object Type"
                    },
                    {
                        "name": "portalId",
                        "type": "number",
                        "label": "Portal ID"
                    },
                    {
                        "name": "objectId",
                        "type": "number",
                        "label": "ID"
                    },
                    {
                        "name": "properties",
                        "spec": [
                            {
                                "name": "hs_ticket_category",
                                "type": "text",
                                "label": "Category"
                            },
                            {
                                "name": "closed_date",
                                "type": "date",
                                "label": "Close date"
                            },
                            {
                                "name": "createdate",
                                "type": "date",
                                "label": "Create date"
                            },
                            {
                                "name": "hs_file_upload",
                                "type": "text",
                                "label": "File upload"
                            },
                            {
                                "name": "first_agent_reply_date",
                                "type": "date",
                                "label": "First agent email response date"
                            },
                            {
                                "name": "hubspot_team_id",
                                "type": "text",
                                "label": "HubSpot team"
                            },
                            {
                                "name": "hs_lastactivitydate",
                                "type": "date",
                                "label": "Last activity date"
                            },
                            {
                                "name": "hs_lastcontacted",
                                "type": "date",
                                "label": "Last contacted date"
                            },
                            {
                                "name": "last_reply_date",
                                "type": "date",
                                "label": "Last customer reply date"
                            },
                            {
                                "name": "hs_lastmodifieddate",
                                "type": "date",
                                "label": "Last modified date"
                            },
                            {
                                "name": "hs_nextactivitydate",
                                "type": "date",
                                "label": "Next activity date"
                            },
                            {
                                "name": "hs_num_associated_companies",
                                "type": "number",
                                "label": "Number of Associated Companies"
                            },
                            {
                                "name": "num_notes",
                                "type": "number",
                                "label": "Number of Sales Activities"
                            },
                            {
                                "name": "hs_num_times_contacted",
                                "type": "number",
                                "label": "Number of times contacted"
                            },
                            {
                                "name": "hubspot_owner_assigneddate",
                                "type": "date",
                                "label": "Owner assigned date"
                            },
                            {
                                "name": "hs_pipeline",
                                "type": "text",
                                "label": "Pipeline"
                            },
                            {
                                "name": "hs_ticket_priority",
                                "type": "text",
                                "label": "Priority"
                            },
                            {
                                "name": "hs_resolution",
                                "type": "text",
                                "label": "Resolution"
                            },
                            {
                                "name": "source_type",
                                "type": "text",
                                "label": "Source"
                            },
                            {
                                "name": "content",
                                "type": "text",
                                "label": "Ticket description"
                            },
                            {
                                "name": "hs_ticket_id",
                                "type": "number",
                                "label": "Ticket ID"
                            },
                            {
                                "name": "subject",
                                "type": "text",
                                "label": "Ticket name"
                            },
                            {
                                "name": "hubspot_owner_id",
                                "type": "text",
                                "label": "Ticket owner"
                            },
                            {
                                "name": "hs_pipeline_stage",
                                "type": "text",
                                "label": "Ticket status"
                            },
                            {
                                "name": "time_to_close",
                                "type": "number",
                                "label": "Time to close"
                            },
                            {
                                "name": "time_to_first_agent_reply",
                                "type": "number",
                                "label": "Time to first agent email reply"
                            }
                        ],
                        "type": "collection",
                        "label": "Properties"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": false,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us1.make.com"
    }
}