fully-automated-business/virtual-assistant/blueprint-fab-virtual-assistant-schedule-checker.json
{
    "name": "[fab] virtual assistant - schedule checker",
    "flow": [
        {
            "id": 2,
            "module": "google-calendar:searchEvents",
            "version": 5,
            "parameters": {
                "__IMTCONN__": 2038
            },
            "mapper": {
                "limit": "10",
                "timeMax": "{{formatDate(addDays(now; -4); \"YYYY-MM-DD 23:59\")}}",
                "timeMin": "{{formatDate(addDays(now; -4); \"YYYY-MM-DD 00:00\")}}",
                "calendar": "your-email-address",
                "singleEvents": false
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "orderBy": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "calendar": {
                            "mode": "chose",
                            "label": "Ethical Works (Primary Calendar)"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "Ethical Works"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "calendar",
                        "type": "select",
                        "label": "Calendar ID",
                        "required": true
                    },
                    {
                        "name": "timeMin",
                        "time": true,
                        "type": "date",
                        "label": "Start Date"
                    },
                    {
                        "name": "timeMax",
                        "time": true,
                        "type": "date",
                        "label": "End Date"
                    },
                    {
                        "name": "singleEvents",
                        "type": "boolean",
                        "label": "Single Events",
                        "required": true
                    },
                    {
                        "name": "q",
                        "type": "text",
                        "label": "Query"
                    },
                    {
                        "name": "orderBy",
                        "type": "select",
                        "label": "Order By",
                        "validate": {
                            "enum": [
                                "startTime",
                                "updated"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "builtin:BasicAggregator",
            "version": 1,
            "parameters": {
                "feeder": 2
            },
            "mapper": {
                "end": "{{2.end}}",
                "start": "{{2.start}}",
                "summary": "{{2.summary}}",
                "htmlLink": "{{2.htmlLink}}",
                "__IMTINDEX__": "{{2.`__IMTINDEX__`}}"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "extra": {
                        "feeder": {
                            "label": "Google Calendar - Search Events"
                        },
                        "target": {
                            "label": "Custom"
                        }
                    }
                }
            }
        },
        {
            "id": 16,
            "module": "builtin:BasicFeeder",
            "version": 1,
            "parameters": {},
            "filter": {
                "name": "has shcedule",
                "conditions": [
                    [
                        {
                            "a": "{{4.array[].htmlLink}}",
                            "o": "exist"
                        }
                    ]
                ]
            },
            "mapper": {
                "array": "{{4.array}}"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "array": {
                            "mode": "edit"
                        }
                    }
                },
                "expect": [
                    {
                        "mode": "edit",
                        "name": "array",
                        "spec": [],
                        "type": "array",
                        "label": "Array"
                    }
                ]
            }
        },
        {
            "id": 18,
            "module": "util:SetVariables",
            "version": 1,
            "parameters": {},
            "mapper": {
                "scope": "roundtrip",
                "variables": [
                    {
                        "name": "time_start",
                        "value": "{{formatDate(16.start; \"HH:mm\")}}"
                    },
                    {
                        "name": "time_end",
                        "value": "{{formatDate(16.end; \"HH:mm\")}}"
                    },
                    {
                        "name": "num_order",
                        "value": "{{16.`__IMTINDEX__`}}"
                    },
                    {
                        "name": "str_summary",
                        "value": "{{16.summary}}"
                    },
                    {
                        "name": "link_calendar",
                        "value": "{{16.htmlLink}}"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        },
                        "variables": {
                            "items": [
                                null,
                                null,
                                null,
                                null,
                                null
                            ]
                        }
                    }
                },
                "expect": [
                    {
                        "name": "variables",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Variable name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "any",
                                "label": "Variable value"
                            }
                        ],
                        "type": "array",
                        "label": "Variables"
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "time_start",
                        "type": "any",
                        "label": "time_start"
                    },
                    {
                        "name": "time_end",
                        "type": "any",
                        "label": "time_end"
                    },
                    {
                        "name": "num_order",
                        "type": "any",
                        "label": "num_order"
                    },
                    {
                        "name": "str_summary",
                        "type": "any",
                        "label": "str_summary"
                    },
                    {
                        "name": "link_calendar",
                        "type": "any",
                        "label": "link_calendar"
                    }
                ]
            }
        },
        {
            "id": 19,
            "module": "builtin:BasicAggregator",
            "version": 1,
            "parameters": {
                "feeder": 16
            },
            "mapper": {
                "time_end": "{{18.time_end}}",
                "num_order": "{{18.num_order}}",
                "time_start": "{{18.time_start}}",
                "str_summary": "{{18.str_summary}}",
                "link_calendar": "{{18.link_calendar}}"
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0
                },
                "restore": {
                    "extra": {
                        "feeder": {
                            "label": "Iterator"
                        },
                        "target": {
                            "label": "Custom"
                        }
                    }
                }
            }
        },
        {
            "id": 5,
            "module": "builtin:BasicFeeder",
            "version": 1,
            "parameters": {},
            "mapper": {
                "array": "{{sort(19.array; \"asc\"; \"time_start\")}}"
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "array": {
                            "mode": "edit"
                        }
                    }
                },
                "expect": [
                    {
                        "mode": "edit",
                        "name": "array",
                        "spec": [],
                        "type": "array",
                        "label": "Array"
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "util:TextAggregator",
            "version": 1,
            "parameters": {
                "feeder": 5,
                "rowSeparator": "\n"
            },
            "mapper": {
                "value": "<p><a href=\"{{5.link_calendar}}\"><strong>{{5.str_summary}}</strong></a><br>\n{{5.time_start}} - {{5.time_end}}</p>"
            },
            "metadata": {
                "designer": {
                    "x": 1800,
                    "y": 0
                },
                "restore": {
                    "extra": {
                        "feeder": {
                            "label": "Iterator"
                        }
                    },
                    "parameters": {
                        "rowSeparator": {
                            "label": "New row"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "rowSeparator",
                        "type": "select",
                        "label": "Row separator",
                        "validate": {
                            "enum": [
                                "\n",
                                "\t",
                                "other"
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "value",
                        "type": "text",
                        "label": "Text"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 7,
            "module": "email:ActionSendEmail",
            "version": 7,
            "parameters": {
                "account": 2037,
                "saveAfterSent": false
            },
            "mapper": {
                "cc": [],
                "to": [
                    "your-email-address"
                ],
                "bcc": [],
                "from": "\"Your virtual assistant\" your-email-address",
                "html": "<p>Good morning!</p>\n<p>I'm sending your today's schedule and hope you have a wonderful day with the fully automated business!</p>\n{{6.text}}\n<p>Best,<br>Your virtual assistant</p>",
                "sender": "",
                "headers": [],
                "replyTo": "",
                "subject": "[FAB] Daily Schedule from Your Virtual Assistant",
                "priority": "normal",
                "inReplyTo": "",
                "references": [],
                "attachments": [],
                "contentType": "html"
            },
            "metadata": {
                "designer": {
                    "x": 2100,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "cc": {
                            "mode": "chose"
                        },
                        "to": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "bcc": {
                            "mode": "chose"
                        },
                        "priority": {
                            "label": "Normal"
                        },
                        "references": {
                            "mode": "chose"
                        },
                        "attachments": {
                            "mode": "chose"
                        },
                        "contentType": {
                            "label": "HTML"
                        }
                    },
                    "parameters": {
                        "account": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-restricted"
                            },
                            "label": "My Google Restricted connection"
                        },
                        "saveAfterSent": {
                            "label": "No"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "account",
                        "type": "account:smtp,google-restricted",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "saveAfterSent",
                        "type": "select",
                        "label": "Save message after sending",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "to",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address",
                            "required": true
                        },
                        "type": "array",
                        "label": "To",
                        "required": true
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject"
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Content Type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "html",
                                "text"
                            ]
                        }
                    },
                    {
                        "name": "attachments",
                        "spec": [
                            {
                                "name": "fileName",
                                "type": "filename",
                                "label": "File name",
                                "required": true,
                                "semantic": "file:name"
                            },
                            {
                                "name": "data",
                                "type": "buffer",
                                "label": "Data",
                                "required": true,
                                "semantic": "file:data"
                            },
                            {
                                "name": "cid",
                                "type": "text",
                                "label": "Content-ID"
                            }
                        ],
                        "type": "array",
                        "label": "Attachments"
                    },
                    {
                        "name": "cc",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address"
                        },
                        "type": "array",
                        "label": "Copy recipient"
                    },
                    {
                        "name": "bcc",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address"
                        },
                        "type": "array",
                        "label": "Blind copy recipient"
                    },
                    {
                        "name": "from",
                        "type": "text",
                        "label": "From"
                    },
                    {
                        "name": "sender",
                        "type": "text",
                        "label": "Sender"
                    },
                    {
                        "name": "replyTo",
                        "type": "text",
                        "label": "Reply-To"
                    },
                    {
                        "name": "inReplyTo",
                        "type": "text",
                        "label": "In-Reply-To"
                    },
                    {
                        "name": "references",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Reference",
                            "required": true
                        },
                        "type": "array",
                        "label": "References"
                    },
                    {
                        "name": "priority",
                        "type": "select",
                        "label": "Priority",
                        "validate": {
                            "enum": [
                                "high",
                                "normal",
                                "low"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value",
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "html",
                        "type": "text",
                        "label": "Content"
                    }
                ],
                "advanced": true
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us1.make.com"
    }
}