blueprint-twitter.json
{
    "name": "Twitter Alert",
    "flow": [
        {
            "id": 1,
            "module": "twitter:searchTweets",
            "version": 5,
            "parameters": {
                "__IMTCONN__": 2251352
            },
            "mapper": {
                "geo": {},
                "limit": "50",
                "search": "ノーコード",
                "fulltext": false,
                "result_type": "recent",
                "include_entities": false
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "geo": {
                        "nested": {
                            "radius": {
                                "mode": "chose",
                                "label": ""
                            }
                        }
                    },
                    "__IMTCONN__": {
                        "label": "Twitter for YouTube (Ethical Works)"
                    },
                    "result_type": {
                        "mode": "chose",
                        "label": "Recent"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "search",
                        "type": "text",
                        "label": "Search Phrase",
                        "required": true
                    },
                    {
                        "name": "fulltext",
                        "type": "boolean",
                        "label": "Return Full Text of Tweets",
                        "required": true
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Maximum Number of Returned Tweets"
                    },
                    {
                        "name": "result_type",
                        "type": "select",
                        "label": "Sort by",
                        "required": true,
                        "validate": {
                            "enum": [
                                "mixed",
                                "recent",
                                "popular"
                            ]
                        }
                    },
                    {
                        "name": "lang",
                        "type": "text",
                        "label": "Language",
                        "validate": {
                            "max": 2
                        }
                    },
                    {
                        "name": "until",
                        "time": true,
                        "type": "date",
                        "label": "Until"
                    },
                    {
                        "name": "geo",
                        "spec": [
                            {
                                "name": "latitude",
                                "type": "number",
                                "label": "Latitude",
                                "validate": {
                                    "max": 90,
                                    "min": -90
                                }
                            },
                            {
                                "name": "longitude",
                                "type": "number",
                                "label": "Longitude",
                                "validate": {
                                    "max": 180,
                                    "min": -180
                                }
                            },
                            {
                                "name": "radius",
                                "type": "select",
                                "label": "Radius",
                                "validate": {
                                    "enum": [
                                        "mi",
                                        "km"
                                    ]
                                }
                            }
                        ],
                        "type": "collection",
                        "label": "Geographical Coordinates"
                    },
                    {
                        "name": "include_entities",
                        "type": "boolean",
                        "label": "Include Entities",
                        "required": true
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 2,
            "module": "util:TextAggregator",
            "version": 1,
            "parameters": {
                "feeder": 1,
                "rowSeparator": "\n"
            },
            "filter": {
                "name": "Remove RTs",
                "conditions": [
                    [
                        {
                            "a": "{{1.text}}",
                            "b": "RT @",
                            "o": "text:notstartwith"
                        }
                    ]
                ]
            },
            "mapper": {
                "value": "{{substring(1.text; 0; 30)}}\nhttps://twitter.com/{{1.user.screen_name}}/status/{{1.id_str}}\n"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "feeder": {
                        "label": "Twitter - Search Tweets [1]"
                    },
                    "rowSeparator": {
                        "label": "New row"
                    }
                },
                "parameters": [
                    {
                        "name": "rowSeparator",
                        "type": "select",
                        "label": "Row separator",
                        "validate": {
                            "enum": [
                                "\n",
                                "\t",
                                "other"
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "value",
                        "type": "text",
                        "label": "Text",
                        "multiline": true
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 3,
            "module": "slack:CreateMessage",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 1120039
            },
            "mapper": {
                "text": "キーワード「ノーコード」の検索結果です！\n\n{{2.text}}",
                "parse": false,
                "mrkdwn": true,
                "channel": "G010MBP6PR9",
                "channelType": "private",
                "channelWType": "list"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "parse": {
                        "mode": "chose"
                    },
                    "mrkdwn": {
                        "mode": "chose"
                    },
                    "as_user": {
                        "mode": "chose"
                    },
                    "channel": {
                        "mode": "chose",
                        "label": "internal"
                    },
                    "link_names": {
                        "mode": "chose"
                    },
                    "__IMTCONN__": {
                        "label": "My Slack connection (manas)"
                    },
                    "attachments": {
                        "mode": "chose",
                        "items": []
                    },
                    "channelType": {
                        "label": "Private channel"
                    },
                    "channelWType": {
                        "label": "Select from the list"
                    },
                    "unfurl_links": {
                        "mode": "chose"
                    },
                    "unfurl_media": {
                        "mode": "chose"
                    },
                    "reply_broadcast": {
                        "mode": "chose"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "channelWType",
                        "type": "select",
                        "label": "Enter a channel ID or name",
                        "required": true,
                        "validate": {
                            "enum": [
                                "manualy",
                                "list"
                            ]
                        }
                    },
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Text",
                        "required": true,
                        "multiline": true
                    },
                    {
                        "name": "as_user",
                        "type": "boolean",
                        "label": "As user"
                    },
                    {
                        "name": "thread_ts",
                        "type": "text",
                        "label": "Thread message ID (time stamp)"
                    },
                    {
                        "name": "reply_broadcast",
                        "type": "boolean",
                        "label": "Reply broadcast"
                    },
                    {
                        "name": "attachments",
                        "spec": [
                            {
                                "name": "fallback",
                                "type": "text",
                                "label": "Fallback",
                                "required": true
                            },
                            {
                                "name": "color",
                                "type": "text",
                                "label": "Color"
                            },
                            {
                                "name": "pretext",
                                "type": "text",
                                "label": "Pretext"
                            },
                            {
                                "name": "author_name",
                                "type": "text",
                                "label": "Author name"
                            },
                            {
                                "name": "author_link",
                                "type": "url",
                                "label": "Author link"
                            },
                            {
                                "name": "author_icon",
                                "type": "url",
                                "label": "Author icon (URL)"
                            },
                            {
                                "name": "title",
                                "type": "text",
                                "label": "Title"
                            },
                            {
                                "name": "title_link",
                                "type": "url",
                                "label": "Title link"
                            },
                            {
                                "name": "text",
                                "type": "text",
                                "label": "Text"
                            },
                            {
                                "name": "image_url",
                                "type": "text",
                                "label": "Image (URL)"
                            },
                            {
                                "name": "thumb_url",
                                "type": "url",
                                "label": "Thumbnail (URL)"
                            },
                            {
                                "name": "footer",
                                "type": "text",
                                "label": "Footer"
                            },
                            {
                                "name": "footer_icon",
                                "type": "url",
                                "label": "Footer icon (URL)"
                            },
                            {
                                "name": "ts",
                                "type": "number",
                                "label": "Time stamp"
                            },
                            {
                                "name": "fields",
                                "spec": [
                                    {
                                        "name": "title",
                                        "type": "text",
                                        "label": "Title",
                                        "required": true
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value",
                                        "required": true
                                    },
                                    {
                                        "name": "short",
                                        "type": "boolean",
                                        "label": "Display side-by-side with other values",
                                        "required": true
                                    }
                                ],
                                "type": "array",
                                "label": "Fields inside message attachments"
                            }
                        ],
                        "type": "array",
                        "label": "Attachments"
                    },
                    {
                        "name": "icon_emoji",
                        "type": "text",
                        "label": "Icon emoji"
                    },
                    {
                        "name": "icon_url",
                        "type": "url",
                        "label": "Icon url"
                    },
                    {
                        "name": "link_names",
                        "type": "boolean",
                        "label": "Link names"
                    },
                    {
                        "name": "parse",
                        "type": "boolean",
                        "label": "Parse message text"
                    },
                    {
                        "name": "mrkdwn",
                        "type": "boolean",
                        "label": "Use markdown"
                    },
                    {
                        "name": "unfurl_links",
                        "type": "boolean",
                        "label": "Unfurl primarily text-based content"
                    },
                    {
                        "name": "unfurl_media",
                        "type": "boolean",
                        "label": "Unfurl media content"
                    },
                    {
                        "name": "username",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "channelType",
                        "type": "select",
                        "label": "Channel type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "public",
                                "private",
                                "im",
                                "mpim"
                            ]
                        }
                    },
                    {
                        "name": "channel",
                        "type": "select",
                        "label": "Private channel",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "email:ActionSendEmail",
            "version": 7,
            "parameters": {
                "account": 1763449,
                "saveAfterSent": false
            },
            "mapper": {
                "cc": [],
                "to": [
                    "ENTER@YOUR.EMAIL"
                ],
                "bcc": [],
                "from": "",
                "text": "キーワード「ノーコード」のまとめです！\n\n{{2.text}}",
                "sender": "",
                "headers": [],
                "replyTo": "",
                "subject": "ツイートまとめ",
                "priority": "normal",
                "inReplyTo": "",
                "references": [],
                "attachments": [],
                "contentType": "text"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "cc": {
                        "mode": "chose",
                        "items": []
                    },
                    "to": {
                        "mode": "chose",
                        "items": [
                            "undefined"
                        ]
                    },
                    "bcc": {
                        "mode": "chose",
                        "items": []
                    },
                    "account": {
                        "label": ""
                    },
                    "headers": {
                        "items": []
                    },
                    "priority": {
                        "label": "Normal"
                    },
                    "references": {
                        "mode": "chose",
                        "items": []
                    },
                    "attachments": {
                        "mode": "chose",
                        "items": []
                    },
                    "contentType": {
                        "label": "Plaintext"
                    },
                    "saveAfterSent": {
                        "label": "No"
                    }
                },
                "parameters": [
                    {
                        "name": "account",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "saveAfterSent",
                        "type": "select",
                        "label": "Save message after sending",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "to",
                        "spec": {
                            "name": "email",
                            "type": "email",
                            "label": "Email address",
                            "required": true
                        },
                        "type": "array",
                        "label": "To",
                        "labels": {
                            "add": "Add a recipient",
                            "edit": "Edit a recipient"
                        },
                        "required": true
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject"
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Content Type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "html",
                                "text"
                            ]
                        }
                    },
                    {
                        "name": "attachments",
                        "spec": [
                            {
                                "name": "fileName",
                                "type": "filename",
                                "label": "File name",
                                "required": true,
                                "semantic": "file:name"
                            },
                            {
                                "name": "data",
                                "type": "buffer",
                                "label": "Data",
                                "required": true,
                                "semantic": "file:data"
                            },
                            {
                                "name": "cid",
                                "type": "text",
                                "label": "Content-ID"
                            }
                        ],
                        "type": "array",
                        "label": "Attachments",
                        "labels": {
                            "add": "Add an attachment",
                            "edit": "Edit an attachment"
                        }
                    },
                    {
                        "name": "cc",
                        "spec": {
                            "name": "email",
                            "type": "email",
                            "label": "Email address"
                        },
                        "type": "array",
                        "label": "Copy recipient",
                        "labels": {
                            "add": "Add a copy recipient",
                            "edit": "Edit a copy recipient"
                        }
                    },
                    {
                        "name": "bcc",
                        "spec": {
                            "name": "email",
                            "type": "email",
                            "label": "Email address"
                        },
                        "type": "array",
                        "label": "Blind copy recipient",
                        "labels": {
                            "add": "Add a blind copy recipient",
                            "edit": "Edit a blind copy recipient"
                        }
                    },
                    {
                        "name": "from",
                        "type": "text",
                        "label": "From"
                    },
                    {
                        "name": "sender",
                        "type": "text",
                        "label": "Sender"
                    },
                    {
                        "name": "replyTo",
                        "type": "text",
                        "label": "Reply-To"
                    },
                    {
                        "name": "inReplyTo",
                        "type": "text",
                        "label": "In-Reply-To"
                    },
                    {
                        "name": "references",
                        "spec": {
                            "type": "text",
                            "label": "Reference",
                            "required": true
                        },
                        "type": "array",
                        "label": "References"
                    },
                    {
                        "name": "priority",
                        "type": "select",
                        "label": "Priority",
                        "validate": {
                            "enum": [
                                "high",
                                "normal",
                                "low"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value",
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Content"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "shatter": false,
            "maxErrors": 3,
            "autoCommit": false,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.integromat.com"
    }
}