document-management/blueprint-contract-generator.json
{
    "name": "Contract generator with password protection",
    "flow": [
        {
            "id": 1,
            "module": "airtable:TriggerWatchRecords",
            "version": 3,
            "parameters": {
                "base": "",
                "view": "",
                "table": "Issues",
                "config": {
                    "labelField": "Email",
                    "triggerField": "Created"
                },
                "formula": "",
                "maxRecords": 10,
                "__IMTCONN__": 2058
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0,
                    "name": "get data from form"
                },
                "restore": {
                    "base": {
                        "label": "Contract"
                    },
                    "view": {
                        "label": "software development"
                    },
                    "table": {
                        "label": "Issues"
                    },
                    "config": {
                        "nested": {
                            "labelField": {
                                "label": "Email"
                            },
                            "triggerField": {
                                "label": "Created"
                            }
                        }
                    },
                    "__IMTCONN__": {
                        "label": "Airtable"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "config",
                        "spec": [
                            {
                                "name": "triggerField",
                                "type": "select",
                                "label": "Trigger field",
                                "required": true
                            },
                            {
                                "name": "triggerField",
                                "type": "hidden"
                            },
                            {
                                "name": "labelField",
                                "type": "select",
                                "label": "Label field",
                                "required": true
                            }
                        ],
                        "type": "collection",
                        "label": "Trigger configuration",
                        "required": false
                    },
                    {
                        "name": "maxRecords",
                        "type": "integer",
                        "label": "Limit",
                        "required": true
                    },
                    {
                        "name": "view",
                        "type": "select",
                        "label": "View"
                    },
                    {
                        "name": "formula",
                        "type": "text",
                        "label": "Formula"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Email",
                        "type": "text",
                        "label": "Email"
                    },
                    {
                        "name": "Provider",
                        "type": "text",
                        "label": "Provider"
                    },
                    {
                        "name": "Provider_Name",
                        "type": "text",
                        "label": "Provider_Name"
                    },
                    {
                        "name": "Provider_Address",
                        "type": "text",
                        "label": "Provider_Address"
                    },
                    {
                        "name": "Customer",
                        "type": "text",
                        "label": "Customer"
                    },
                    {
                        "name": "Customer_Name",
                        "type": "text",
                        "label": "Customer_Name"
                    },
                    {
                        "name": "Customer_Address",
                        "type": "text",
                        "label": "Customer_Address"
                    },
                    {
                        "name": "Issue_Date",
                        "time": false,
                        "type": "date",
                        "label": "Issue_Date"
                    },
                    {
                        "name": "Password",
                        "type": "text",
                        "label": "Password"
                    },
                    {
                        "name": "Created",
                        "type": "date",
                        "label": "Created"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "google-docs:createADocumentFromTemplate",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 2038
            },
            "mapper": {
                "select": "dropdown",
                "name": "contract_{{1.Customer}}_{{1.Provider}}_{{formatDate(1.Created; \"YYYYMMDD\")}}",
                "destination": "drive",
                "from": "drive",
                "document": "",
                "requests": {
                    "customer": "{{1.Customer}}",
                    "provider": "{{1.Provider}}",
                    "issue_date": "{{formatDate(1.Issue_Date; \"YYYY-MM-DD\")}}",
                    "customer_name": "{{1.Customer_Name}}",
                    "customer_address": "{{1.Customer_Address}}",
                    "provider_name": "{{1.Provider_Name}}",
                    "provider_address": "{{1.Provider_Address}}"
                },
                "folderId": ""
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0,
                    "name": "generate doc"
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "Ethical Works",
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            }
                        }
                    },
                    "expect": {
                        "select": {
                            "label": "By Dropdown"
                        },
                        "destination": {
                            "label": "My Drive"
                        },
                        "from": {
                            "label": "My Drive"
                        },
                        "document": {
                            "path": [
                                "Public",
                                "Make",
                                "Template for software development"
                            ]
                        },
                        "folderId": {
                            "mode": "chose",
                            "path": [
                                "Make"
                            ]
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Create a Document from a Template",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "dropdown"
                            ]
                        }
                    },
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Title",
                        "required": true
                    },
                    {
                        "name": "destination",
                        "type": "select",
                        "label": "New Drive Location",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Choose a Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "document",
                        "type": "file",
                        "label": "Document ID",
                        "required": true
                    },
                    {
                        "name": "requests",
                        "type": "collection",
                        "label": "Values",
                        "spec": [
                            {
                                "name": "customer",
                                "type": "any"
                            },
                            {
                                "name": "provider",
                                "type": "any"
                            },
                            {
                                "name": "issue_date",
                                "type": "any"
                            },
                            {
                                "name": "customer_name",
                                "type": "any"
                            },
                            {
                                "name": "customer_address",
                                "type": "any"
                            },
                            {
                                "name": "provider_name",
                                "type": "any"
                            },
                            {
                                "name": "provider_address",
                                "type": "any"
                            }
                        ]
                    },
                    {
                        "name": "folderId",
                        "type": "folder",
                        "label": "New Document's Location",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 10,
            "module": "google-docs:exportADocument",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 2038
            },
            "mapper": {
                "document": "{{2.id}}",
                "mimeType": "application/pdf",
                "destination": "drive"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0,
                    "name": "download PDF"
                },
                "restore": {
                    "document": {
                        "mode": "edit",
                        "path": []
                    },
                    "mimeType": {
                        "mode": "chose",
                        "label": "PDF Document (.pdf)"
                    },
                    "__IMTCONN__": {
                        "label": "Ethical Works"
                    },
                    "destination": {
                        "label": "My Drive"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "destination",
                        "type": "select",
                        "label": "Choose a Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "mimeType",
                        "type": "select",
                        "label": "Type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                                "application/vnd.oasis.opendocument.text",
                                "application/rtf",
                                "application/pdf",
                                "text/plain",
                                "text/html",
                                "application/epub+zip"
                            ]
                        }
                    },
                    {
                        "name": "document",
                        "type": "file",
                        "label": "Document ID",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "pdf-co:AddSecurityToPDF",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 2047
            },
            "mapper": {
                "async": 15000,
                "export": {
                    "exportType": "downloadFile"
                },
                "import": {
                    "data": "{{10.data}}",
                    "name": "{{10.filename}}",
                    "importType": "upload"
                },
                "printQuality": "HighResolution",
                "userPassword": "{{1.Password}}",
                "ownerPassword": "{{1.Password}}",
                "allowFillForms": true,
                "allowPrintDocument": true,
                "allowModifyDocument": true,
                "encryptionAlgorithm": "AES_128bit",
                "allowAssemblyDocument": true,
                "allowContentExtraction": true,
                "allowModifyAnnotations": true,
                "allowAccessibilitySupport": true
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0,
                    "name": "add password"
                },
                "restore": {
                    "async": {
                        "mode": "chose",
                        "label": "15 sec"
                    },
                    "export": {
                        "nested": {
                            "exportType": {
                                "label": "Download a File"
                            }
                        }
                    },
                    "import": {
                        "nested": {
                            "importType": {
                                "label": "Upload a File"
                            }
                        }
                    },
                    "__IMTCONN__": {
                        "label": "PDF.co"
                    },
                    "printQuality": {
                        "mode": "chose",
                        "label": "High Resolution"
                    },
                    "allowFillForms": {
                        "mode": "chose"
                    },
                    "allowPrintDocument": {
                        "mode": "chose"
                    },
                    "allowModifyDocument": {
                        "mode": "chose"
                    },
                    "encryptionAlgorithm": {
                        "mode": "chose",
                        "label": "AES 128bit"
                    },
                    "allowAssemblyDocument": {
                        "mode": "chose"
                    },
                    "allowContentExtraction": {
                        "mode": "chose"
                    },
                    "allowModifyAnnotations": {
                        "mode": "chose"
                    },
                    "allowAccessibilitySupport": {
                        "mode": "chose"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "import",
                        "spec": [
                            {
                                "name": "importType",
                                "type": "select",
                                "label": "Input File",
                                "required": true,
                                "validate": {
                                    "enum": [
                                        "upload",
                                        "url"
                                    ]
                                }
                            },
                            {
                                "mean": "data",
                                "name": "data",
                                "type": "buffer",
                                "label": "Data",
                                "required": true
                            },
                            {
                                "mean": "name",
                                "name": "name",
                                "type": "text",
                                "label": "Output File Name"
                            }
                        ],
                        "type": "collection",
                        "label": "Import Options",
                        "required": true
                    },
                    {
                        "name": "ownerPassword",
                        "type": "text",
                        "label": "Owner Password"
                    },
                    {
                        "name": "userPassword",
                        "type": "text",
                        "label": "User Password"
                    },
                    {
                        "name": "encryptionAlgorithm",
                        "type": "select",
                        "label": "Encryption Algorithm",
                        "validate": {
                            "enum": [
                                "AES_128bit",
                                "AES_256bit",
                                "RC4_40bit",
                                "RC4_128bit"
                            ]
                        }
                    },
                    {
                        "name": "allowPrintDocument",
                        "type": "boolean",
                        "label": "Print Document"
                    },
                    {
                        "name": "printQuality",
                        "type": "select",
                        "label": "Print Quality",
                        "validate": {
                            "enum": [
                                "HighResolution",
                                "LowResolution"
                            ]
                        }
                    },
                    {
                        "name": "allowAssemblyDocument",
                        "type": "boolean",
                        "label": "Assembly Document"
                    },
                    {
                        "name": "allowContentExtraction",
                        "type": "boolean",
                        "label": "Content Extraction"
                    },
                    {
                        "name": "allowAccessibilitySupport",
                        "type": "boolean",
                        "label": "Accessibility Support"
                    },
                    {
                        "name": "allowModifyDocument",
                        "type": "boolean",
                        "label": "Modify Document"
                    },
                    {
                        "name": "allowFillForms",
                        "type": "boolean",
                        "label": "Fill Forms"
                    },
                    {
                        "name": "allowModifyAnnotations",
                        "type": "boolean",
                        "label": "Modify Annotations"
                    },
                    {
                        "name": "async",
                        "type": "select",
                        "label": "Async",
                        "validate": {
                            "enum": [
                                15000,
                                false
                            ]
                        }
                    },
                    {
                        "name": "profiles",
                        "type": "text",
                        "label": "Profiles"
                    },
                    {
                        "name": "export",
                        "spec": [
                            {
                                "name": "exportType",
                                "type": "select",
                                "label": "Export Type",
                                "required": true,
                                "validate": {
                                    "enum": [
                                        "downloadFile",
                                        "inline"
                                    ]
                                }
                            }
                        ],
                        "type": "collection",
                        "label": "Export options",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "google-drive:uploadAFile",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 2037
            },
            "mapper": {
                "data": "{{7.data}}",
                "title": "{{2.name}}",
                "select": "value",
                "convert": false,
                "filename": "{{7.name}}",
                "folderId": "",
                "destination": "drive"
            },
            "metadata": {
                "designer": {
                    "x": 697,
                    "y": 352,
                    "name": "upload protected file"
                },
                "restore": {
                    "select": {
                        "label": "Select from the list"
                    },
                    "folderId": {
                        "mode": "chose",
                        "path": [
                            "Integromat"
                        ]
                    },
                    "__IMTCONN__": {
                        "label": "Google"
                    },
                    "destination": {
                        "label": "My Drive"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Enter a Folder ID",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "value"
                            ]
                        }
                    },
                    {
                        "name": "title",
                        "type": "text",
                        "label": "New File Name"
                    },
                    {
                        "mean": "name",
                        "name": "filename",
                        "type": "filename",
                        "label": "File Name",
                        "required": true
                    },
                    {
                        "mean": "data",
                        "name": "data",
                        "type": "buffer",
                        "label": "Data",
                        "required": true
                    },
                    {
                        "name": "convert",
                        "type": "boolean",
                        "label": "Convert a File",
                        "required": true
                    },
                    {
                        "name": "destination",
                        "type": "select",
                        "label": "New Drive Location",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "folderId",
                        "type": "folder",
                        "label": "New Folder Location",
                        "required": true
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 11,
            "module": "google-drive:shareAFileFolder",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 2037
            },
            "mapper": {
                "destination": "drive",
                "select": "file",
                "role": "reader",
                "type": "anyone",
                "file": "{{5.id}}",
                "allowFileDiscovery": false
            },
            "metadata": {
                "designer": {
                    "x": 1075,
                    "y": 346,
                    "name": "get share link"
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "Google",
                            "data": {
                                "scoped": "true",
                                "connection": "google-restricted"
                            }
                        }
                    },
                    "expect": {
                        "destination": {
                            "label": "My Drive"
                        },
                        "select": {
                            "label": "File"
                        },
                        "role": {
                            "mode": "chose",
                            "label": "Reader"
                        },
                        "type": {
                            "mode": "chose",
                            "label": "Anyone"
                        },
                        "file": {
                            "mode": "edit",
                            "path": []
                        },
                        "allowFileDiscovery": {
                            "mode": "chose"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-restricted",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "destination",
                        "type": "select",
                        "label": "Choose a Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Select",
                        "required": true,
                        "validate": {
                            "enum": [
                                "file",
                                "folder"
                            ]
                        }
                    },
                    {
                        "name": "role",
                        "type": "select",
                        "label": "Role",
                        "required": true,
                        "validate": {
                            "enum": [
                                "owner",
                                "writer",
                                "reader"
                            ]
                        }
                    },
                    {
                        "name": "type",
                        "type": "select",
                        "label": "Type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "user",
                                "group",
                                "domain",
                                "anyone"
                            ]
                        }
                    },
                    {
                        "name": "file",
                        "type": "file",
                        "label": "File ID",
                        "mode": "edit",
                        "required": true
                    },
                    {
                        "name": "allowFileDiscovery",
                        "type": "boolean",
                        "label": "Allow File Discovery",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "kind",
                        "type": "text",
                        "label": "Kind"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "File ID"
                    },
                    {
                        "name": "type",
                        "type": "text",
                        "label": "Type"
                    },
                    {
                        "name": "shareLink",
                        "type": "url",
                        "label": "Share Link"
                    },
                    {
                        "name": "emailAddress",
                        "type": "text",
                        "label": "Email Address"
                    },
                    {
                        "name": "domain",
                        "type": "text",
                        "label": "Domain"
                    },
                    {
                        "name": "role",
                        "type": "text",
                        "label": "Role"
                    },
                    {
                        "name": "allowFileDiscovery",
                        "type": "boolean",
                        "label": "Allow File Discovery"
                    },
                    {
                        "name": "displayName",
                        "type": "text",
                        "label": "Display Name"
                    },
                    {
                        "name": "photoLink",
                        "type": "text",
                        "label": "Photo Link"
                    },
                    {
                        "name": "expirationTime",
                        "type": "date",
                        "label": "Expiration Time"
                    },
                    {
                        "name": "teamDrivePermissionDetails",
                        "spec": {
                            "spec": [
                                {
                                    "name": "teamDrivePermissionType",
                                    "type": "text",
                                    "label": "Team Drive Permission Type"
                                },
                                {
                                    "name": "role",
                                    "type": "text",
                                    "label": "Role"
                                },
                                {
                                    "name": "inheritedFrom",
                                    "type": "text",
                                    "label": "Inherited From"
                                },
                                {
                                    "name": "inherited",
                                    "type": "boolean",
                                    "label": "Inherited"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Team Drive Permission Details"
                    },
                    {
                        "name": "permissionDetails",
                        "spec": {
                            "spec": [
                                {
                                    "name": "permissionType",
                                    "type": "text",
                                    "label": "Permission Type"
                                },
                                {
                                    "name": "role",
                                    "type": "text",
                                    "label": "Role"
                                },
                                {
                                    "name": "inheritedFrom",
                                    "type": "text",
                                    "label": "Inherited From"
                                },
                                {
                                    "name": "inherited",
                                    "type": "boolean",
                                    "label": "Inherited"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Permission Details"
                    },
                    {
                        "name": "deleted",
                        "type": "boolean",
                        "label": "Deleted"
                    },
                    {
                        "name": "webContentLink",
                        "type": "url",
                        "label": "Web Content Link"
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "email:ActionSendEmail",
            "version": 7,
            "parameters": {
                "account": 2042,
                "saveAfterSent": false
            },
            "mapper": {
                "to": "{{1.Email}}",
                "subject": "Ethical Works - Software Development Contract",
                "contentType": "text",
                "attachments": [],
                "cc": [],
                "bcc": [],
                "from": "",
                "sender": "",
                "replyTo": "",
                "inReplyTo": "",
                "references": [],
                "priority": "normal",
                "headers": [],
                "text": "Dear {{1.Provider_Name}},\n\nHope all is well!\n\nPlease download the contract file from the link below.\n\n{{10.filename}}\n{{11.shareLink}}\n\nThe password of the file is the password that you entered in the form and we don't acknowledge it.\n\nBest regards,\nMana from Ethical Works"
            },
            "metadata": {
                "designer": {
                    "x": 826,
                    "y": 734,
                    "name": "send email"
                },
                "restore": {
                    "parameters": {
                        "account": {
                            "label": "Google",
                            "data": {
                                "scoped": "true",
                                "connection": "google-restricted"
                            }
                        },
                        "saveAfterSent": {
                            "label": "No"
                        }
                    },
                    "expect": {
                        "to": {
                            "mode": "edit"
                        },
                        "contentType": {
                            "label": "Plaintext"
                        },
                        "attachments": {
                            "mode": "chose"
                        },
                        "cc": {
                            "mode": "chose"
                        },
                        "bcc": {
                            "mode": "chose"
                        },
                        "references": {
                            "mode": "chose"
                        },
                        "priority": {
                            "label": "Normal"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "account",
                        "type": "account:smtp,google-restricted",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "saveAfterSent",
                        "type": "select",
                        "label": "Save message after sending",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "to",
                        "type": "array",
                        "label": "To",
                        "required": true,
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address",
                            "required": true
                        }
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject"
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Content Type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "html",
                                "text"
                            ]
                        }
                    },
                    {
                        "name": "attachments",
                        "type": "array",
                        "label": "Attachments",
                        "spec": [
                            {
                                "name": "fileName",
                                "label": "File name",
                                "type": "filename",
                                "required": true,
                                "semantic": "file:name"
                            },
                            {
                                "name": "data",
                                "label": "Data",
                                "type": "buffer",
                                "required": true,
                                "semantic": "file:data"
                            },
                            {
                                "name": "cid",
                                "label": "Content-ID",
                                "type": "text"
                            }
                        ]
                    },
                    {
                        "name": "cc",
                        "type": "array",
                        "label": "Copy recipient",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address"
                        }
                    },
                    {
                        "name": "bcc",
                        "type": "array",
                        "label": "Blind copy recipient",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address"
                        }
                    },
                    {
                        "name": "from",
                        "type": "text",
                        "label": "From"
                    },
                    {
                        "name": "sender",
                        "type": "text",
                        "label": "Sender"
                    },
                    {
                        "name": "replyTo",
                        "type": "text",
                        "label": "Reply-To"
                    },
                    {
                        "name": "inReplyTo",
                        "type": "text",
                        "label": "In-Reply-To"
                    },
                    {
                        "name": "references",
                        "type": "array",
                        "label": "References",
                        "spec": {
                            "type": "text",
                            "label": "Reference",
                            "required": true,
                            "name": "value"
                        }
                    },
                    {
                        "name": "priority",
                        "type": "select",
                        "label": "Priority",
                        "validate": {
                            "enum": [
                                "high",
                                "normal",
                                "low"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "type": "array",
                        "label": "Headers",
                        "spec": [
                            {
                                "name": "key",
                                "label": "Key",
                                "type": "text",
                                "required": true
                            },
                            {
                                "name": "value",
                                "label": "Value",
                                "type": "text",
                                "required": true
                            }
                        ]
                    },
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Content"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 8,
            "module": "airtable:ActionUpdateRecords",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 2058
            },
            "mapper": {
                "id": "{{1.id}}",
                "base": "",
                "table": "Issues",
                "record": {
                    "": "{{substring(sha256(timestamp); 0; 11)}}"
                },
                "typecast": false
            },
            "metadata": {
                "designer": {
                    "x": 1334,
                    "y": 734,
                    "name": "delete password"
                },
                "restore": {
                    "base": {
                        "label": "Contract"
                    },
                    "table": {
                        "label": "Issues"
                    },
                    "typecast": {
                        "mode": "chose"
                    },
                    "__IMTCONN__": {
                        "label": "Airtable"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "typecast",
                        "type": "boolean",
                        "label": "Smart links",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Record ID",
                        "required": true
                    },
                    {
                        "name": "record",
                        "spec": [
                            {
                                "name": "",
                                "type": "text",
                                "label": "Email"
                            },
                            {
                                "name": "",
                                "type": "text",
                                "label": "Provider"
                            },
                            {
                                "name": "",
                                "type": "text",
                                "label": "Provider_Name"
                            },
                            {
                                "name": "",
                                "type": "text",
                                "label": "Provider_Address"
                            },
                            {
                                "name": "",
                                "type": "text",
                                "label": "Customer"
                            },
                            {
                                "name": "",
                                "type": "text",
                                "label": "Customer_Name"
                            },
                            {
                                "name": "",
                                "type": "text",
                                "label": "Customer_Address"
                            },
                            {
                                "name": "",
                                "time": false,
                                "type": "date",
                                "label": "Issue_Date"
                            },
                            {
                                "name": "",
                                "type": "text",
                                "label": "Password"
                            }
                        ],
                        "type": "collection",
                        "label": "Record"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Email",
                        "type": "text",
                        "label": "Email"
                    },
                    {
                        "name": "Provider",
                        "type": "text",
                        "label": "Provider"
                    },
                    {
                        "name": "Provider_Name",
                        "type": "text",
                        "label": "Provider_Name"
                    },
                    {
                        "name": "Provider_Address",
                        "type": "text",
                        "label": "Provider_Address"
                    },
                    {
                        "name": "Customer",
                        "type": "text",
                        "label": "Customer"
                    },
                    {
                        "name": "Customer_Name",
                        "type": "text",
                        "label": "Customer_Name"
                    },
                    {
                        "name": "Customer_Address",
                        "type": "text",
                        "label": "Customer_Address"
                    },
                    {
                        "name": "Issue_Date",
                        "time": false,
                        "type": "date",
                        "label": "Issue_Date"
                    },
                    {
                        "name": "Password",
                        "type": "text",
                        "label": "Password"
                    },
                    {
                        "name": "Created",
                        "type": "date",
                        "label": "Created"
                    }
                ]
            }
        },
        {
            "id": 9,
            "module": "google-drive:deleteAFile",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 2037
            },
            "mapper": {
                "file": "{{2.id}}",
                "select": "map",
                "select1": "file"
            },
            "metadata": {
                "designer": {
                    "x": 1335,
                    "y": -5,
                    "name": "delete unprotected file"
                },
                "restore": {
                    "select": {
                        "label": "Enter manually"
                    },
                    "select1": {
                        "label": "File"
                    },
                    "__IMTCONN__": {
                        "label": "Google"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Enter a File/Folder ID",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "value"
                            ]
                        }
                    },
                    {
                        "name": "select1",
                        "type": "select",
                        "label": "Select File/Folder",
                        "required": true,
                        "validate": {
                            "enum": [
                                "file",
                                "folder"
                            ]
                        }
                    },
                    {
                        "name": "file",
                        "type": "text",
                        "label": "File ID",
                        "required": true
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": false,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us1.make.com"
    }
}