document-management/blueprint-rename-files.json
{
    "name": "rename image files at once",
    "flow": [
        {
            "id": 4,
            "module": "google-drive:searchForFilesFolders",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 2042
            },
            "mapper": {
                "limit": "20",
                "query": "*.jpg",
                "select": "list",
                "folderId": "",
                "retrieve": "file",
                "searchType": "fulltext",
                "destination": "drive"
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0,
                    "name": "search image files"
                },
                "restore": {
                    "select": {
                        "label": "Select from the list"
                    },
                    "folderId": {
                        "mode": "chose",
                        "path": [
                            "Public",
                            "Integromat",
                            "Images",
                            "Original"
                        ]
                    },
                    "retrieve": {
                        "label": "Files"
                    },
                    "searchType": {
                        "label": "Fulltext search"
                    },
                    "__IMTCONN__": {
                        "label": "Google"
                    },
                    "destination": {
                        "label": "My Drive"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Select the Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "list"
                            ]
                        }
                    },
                    {
                        "name": "retrieve",
                        "type": "select",
                        "label": "Retrieve",
                        "required": true,
                        "validate": {
                            "enum": [
                                "file",
                                "folder",
                                "file_folder"
                            ]
                        }
                    },
                    {
                        "name": "searchType",
                        "type": "select",
                        "label": "Search",
                        "validate": {
                            "enum": [
                                "title",
                                "fulltext",
                                "custom"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    },
                    {
                        "name": "destination",
                        "type": "select",
                        "label": "Choose a Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "query",
                        "type": "text",
                        "label": "Query",
                        "required": true
                    },
                    {
                        "name": "folderId",
                        "type": "folder",
                        "label": "Choose a Folder"
                    }
                ]
            }
        },
        {
            "id": 8,
            "module": "builtin:BasicAggregator",
            "version": 1,
            "parameters": {
                "feeder": 4
            },
            "mapper": {
                "id": "{{4.id}}",
                "name": "{{4.name}}",
                "fileExtension": "{{4.fileExtension}}"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0,
                    "name": "collect files"
                },
                "restore": {
                    "feeder": {
                        "label": "Google Drive - Search for Files/Folders"
                    },
                    "mapper": {
                        "label": [
                            null,
                            null,
                            null
                        ]
                    },
                    "target": {
                        "label": "Custom"
                    }
                }
            }
        },
        {
            "id": 9,
            "module": "builtin:BasicFeeder",
            "version": 1,
            "parameters": {},
            "mapper": {
                "array": "{{8.array}}"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0,
                    "name": "process one by one"
                },
                "restore": {
                    "array": {
                        "mode": "edit"
                    }
                },
                "expect": [
                    {
                        "mode": "edit",
                        "name": "array",
                        "spec": [],
                        "type": "array",
                        "label": "Array"
                    }
                ]
            }
        },
        {
            "id": 11,
            "module": "google-drive:copyAFile",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 2037
            },
            "mapper": {
                "select": "list",
                "name": "prefix_{{9.`__IMTINDEX__`}}.{{9.fileExtension}}",
                "copy": "drive",
                "destination": "drive",
                "file": "{{9.id}}",
                "folderId": ""
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0,
                    "name": "copy original file"
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "Google",
                            "data": {
                                "scoped": "true",
                                "connection": "google-restricted"
                            }
                        }
                    },
                    "expect": {
                        "select": {
                            "label": "Select from the list"
                        },
                        "copy": {
                            "label": "My Drive"
                        },
                        "destination": {
                            "label": "My Drive"
                        },
                        "file": {
                            "mode": "edit",
                            "path": []
                        },
                        "folderId": {
                            "mode": "chose",
                            "path": [
                                "Public",
                                "Integromat",
                                "Images",
                                "Renamed"
                            ]
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-restricted",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Select the Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "list"
                            ]
                        }
                    },
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Copied File Name"
                    },
                    {
                        "name": "copy",
                        "type": "select",
                        "label": "Original File's Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "destination",
                        "type": "select",
                        "label": "New Drive Location",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "file",
                        "type": "file",
                        "label": "Original File ID",
                        "required": true
                    },
                    {
                        "name": "folderId",
                        "type": "folder",
                        "label": "New Folder Location",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 12,
            "module": "util:TextAggregator",
            "version": 1,
            "parameters": {
                "rowSeparator": "\n",
                "feeder": 9
            },
            "mapper": {
                "value": "- changed a file name to {{11.name}}"
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0,
                    "name": "collect logs"
                },
                "restore": {
                    "parameters": {
                        "rowSeparator": {
                            "label": "New row"
                        }
                    },
                    "extra": {
                        "feeder": {
                            "label": "process one by one [9]"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "rowSeparator",
                        "type": "select",
                        "label": "Row separator",
                        "validate": {
                            "enum": [
                                "\n",
                                "\t",
                                "other"
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "value",
                        "type": "text",
                        "label": "Text"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 13,
            "module": "util:GetVariable2",
            "version": 1,
            "parameters": {},
            "mapper": {
                "name": "{{12.text}}"
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 0,
                    "name": "show logs"
                },
                "restore": {},
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "",
                        "label": "",
                        "type": "any"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": false,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us1.make.com"
    }
}