document-management/blueprint-invoice-automation.json
{
    "name": "generate invoice from template",
    "flow": [
        {
            "id": 3,
            "module": "airtable:TriggerWatchRecords",
            "version": 3,
            "parameters": {
                "base": "app7LeiSI8GbsvBgP",
                "view": "viwMarEhICQpN4YLH",
                "table": "Invoice",
                "config": {
                    "labelField": "invoice_id",
                    "triggerField": "Created"
                },
                "formula": "",
                "maxRecords": 3,
                "__IMTCONN__": 2058
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "base": {
                        "label": "PDF Invoice"
                    },
                    "view": {
                        "label": "Grid view"
                    },
                    "table": {
                        "label": "Invoice"
                    },
                    "config": {
                        "nested": {
                            "labelField": {
                                "label": "invoice_id"
                            },
                            "triggerField": {
                                "label": "Created"
                            }
                        }
                    },
                    "__IMTCONN__": {
                        "label": "Airtable"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "config",
                        "spec": [
                            {
                                "name": "triggerField",
                                "type": "select",
                                "label": "Trigger field",
                                "required": true
                            },
                            {
                                "name": "triggerField",
                                "type": "hidden"
                            },
                            {
                                "name": "labelField",
                                "type": "select",
                                "label": "Label field",
                                "required": true
                            }
                        ],
                        "type": "collection",
                        "label": "Trigger configuration",
                        "required": false
                    },
                    {
                        "name": "maxRecords",
                        "type": "integer",
                        "label": "Limit",
                        "required": true
                    },
                    {
                        "name": "view",
                        "type": "select",
                        "label": "View"
                    },
                    {
                        "name": "formula",
                        "type": "text",
                        "label": "Formula"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "invoice_id",
                        "type": "text",
                        "label": "invoice_id"
                    },
                    {
                        "name": "client_name",
                        "type": "text",
                        "label": "client_name"
                    },
                    {
                        "name": "client_company",
                        "type": "text",
                        "label": "client_company"
                    },
                    {
                        "name": "client_address",
                        "type": "text",
                        "label": "client_address"
                    },
                    {
                        "name": "client_email",
                        "type": "text",
                        "label": "client_email"
                    },
                    {
                        "name": "Status",
                        "type": "text",
                        "label": "Status"
                    },
                    {
                        "name": "invoice_date",
                        "time": false,
                        "type": "date",
                        "label": "invoice_date"
                    },
                    {
                        "name": "invoice_dateDue",
                        "time": false,
                        "type": "date",
                        "label": "invoice_dateDue"
                    },
                    {
                        "name": "note",
                        "type": "text",
                        "label": "note",
                        "multiline": true
                    },
                    {
                        "name": "Items 2",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Items 2"
                    },
                    {
                        "name": "Created",
                        "type": "date",
                        "label": "Created"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "builtin:BasicFeeder",
            "version": 1,
            "parameters": {},
            "mapper": {
                "array": "{{3.Items}}"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0,
                    "name": "iterate items"
                },
                "restore": {
                    "array": {
                        "mode": "edit"
                    }
                },
                "expect": [
                    {
                        "mode": "edit",
                        "name": "array",
                        "spec": [],
                        "type": "array",
                        "label": "Array"
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "airtable:ActionGetRecord",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 2058
            },
            "mapper": {
                "id": "{{4.value}}",
                "base": "app7LeiSI8GbsvBgP",
                "table": "Items"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "base": {
                        "mode": "chose",
                        "label": "PDF Invoice"
                    },
                    "table": {
                        "mode": "chose",
                        "label": "Items"
                    },
                    "__IMTCONN__": {
                        "label": "Airtable"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Record ID",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "name",
                        "type": "text",
                        "label": "name"
                    },
                    {
                        "name": "price",
                        "type": "number",
                        "label": "price"
                    },
                    {
                        "name": "invoice_id (from invoice_id)",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "invoice_id (from invoice_id)"
                    }
                ]
            }
        },
        {
            "id": 8,
            "module": "builtin:BasicAggregator",
            "version": 1,
            "parameters": {
                "feeder": 4
            },
            "mapper": {
                "name": "{{5.name}}",
                "price": "{{5.price}}"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0,
                    "name": "items as array"
                },
                "restore": {
                    "feeder": {
                        "label": "Iterator"
                    },
                    "mapper": {
                        "label": [
                            null,
                            null
                        ]
                    },
                    "target": {
                        "label": "Custom"
                    }
                }
            }
        },
        {
            "id": 22,
            "module": "util:SetVariables",
            "version": 1,
            "parameters": {},
            "mapper": {
                "scope": "roundtrip",
                "variables": [
                    {
                        "name": "subtotal",
                        "value": "{{sum(map(8.array; \"price\"))}}"
                    },
                    {
                        "name": "tax",
                        "value": "{{1 + 3.tax}}"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0,
                    "name": "subtotal and tax"
                },
                "restore": {
                    "scope": {
                        "label": "One cycle"
                    },
                    "variables": {
                        "items": [
                            "undefined",
                            "undefined"
                        ]
                    }
                },
                "expect": [
                    {
                        "name": "variables",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Variable name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "any",
                                "label": "Variable value"
                            }
                        ],
                        "type": "array",
                        "label": "Variables"
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "subtotal",
                        "type": "any",
                        "label": "subtotal"
                    },
                    {
                        "name": "tax",
                        "type": "any",
                        "label": "tax"
                    }
                ]
            }
        },
        {
            "id": 23,
            "module": "util:SetVariable2",
            "version": 1,
            "parameters": {},
            "mapper": {
                "name": "discount",
                "scope": "roundtrip",
                "value": "{{22.subtotal * 3.discount}}"
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 0,
                    "name": "discount"
                },
                "restore": {
                    "scope": {
                        "label": "One cycle"
                    }
                },
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    },
                    {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                    }
                ],
                "interface": [
                    {
                        "name": "discount",
                        "type": "any",
                        "label": "discount"
                    }
                ]
            }
        },
        {
            "id": 12,
            "module": "json:CreateJSON",
            "version": 1,
            "parameters": {
                "type": 378,
                "space": ""
            },
            "mapper": {
                "issuer_name": "NAME",
                "issuer_company": "COMAPNY_NAME",
                "issuer_address": "COMPANY_ADDRESS",
                "issuer_email": "email@email.email",
                "issuer_website": "https://ethical.works",
                "invoice_id": "{{3.invoice_id}}",
                "invoice_date": "{{formatDate(3.invoice_date; \"YYYY-MM-DD\")}}",
                "invoice_dateDue": "{{formatDate(3.invoice_dateDue; \"YYYY-MM-DD\")}}",
                "client_name": "{{3.client_name}}",
                "client_company": "{{3.client_company}}",
                "client_address": "{{3.client_address}}",
                "client_email": "{{3.client_email}}",
                "items": "{{8.array}}",
                "note": "{{3.note}}",
                "subtotal": "{{formatNumber(22.subtotal; \".\"; ; \",\")}}",
                "discount": "{{formatNumber(23.discount; \".\"; ; \",\")}}",
                "tax": "{{formatNumber((22.subtotal - 23.discount) * 3.tax; \".\"; ; \",\")}}",
                "total": "{{formatNumber((22.subtotal - 23.discount) * 22.tax; \".\"; ; \",\")}}"
            },
            "metadata": {
                "designer": {
                    "x": 1800,
                    "y": 0,
                    "name": "format data"
                },
                "restore": {
                    "parameters": {
                        "type": {
                            "nested": [
                                {
                                    "name": "issuer_name",
                                    "label": null,
                                    "type": "text",
                                    "default": "サナト・クマラ",
                                    "required": false,
                                    "multiline": false
                                },
                                {
                                    "name": "issuer_company",
                                    "label": null,
                                    "type": "text",
                                    "default": "合同会社アインソフ",
                                    "required": false,
                                    "multiline": false
                                },
                                {
                                    "name": "issuer_address",
                                    "label": null,
                                    "type": "text",
                                    "default": "宮崎県延岡市金星2-2-2",
                                    "required": false,
                                    "multiline": false
                                },
                                {
                                    "name": "issuer_email",
                                    "label": null,
                                    "type": "text",
                                    "default": "mana@ainsoph.org",
                                    "required": false,
                                    "multiline": false
                                },
                                {
                                    "name": "issuer_website",
                                    "label": null,
                                    "type": "text",
                                    "default": "https://ainsoph.org/",
                                    "required": false,
                                    "multiline": false
                                },
                                {
                                    "name": "invoice_id",
                                    "label": null,
                                    "type": "text",
                                    "default": null,
                                    "required": false,
                                    "multiline": false
                                },
                                {
                                    "name": "invoice_date",
                                    "label": null,
                                    "type": "text",
                                    "default": null,
                                    "required": false,
                                    "multiline": false
                                },
                                {
                                    "name": "invoice_dateDue",
                                    "label": null,
                                    "type": "text",
                                    "default": null,
                                    "required": false,
                                    "multiline": false
                                },
                                {
                                    "name": "client_name",
                                    "label": null,
                                    "type": "text",
                                    "default": null,
                                    "required": false,
                                    "multiline": false
                                },
                                {
                                    "name": "client_company",
                                    "label": null,
                                    "type": "text",
                                    "default": null,
                                    "required": false,
                                    "multiline": false
                                },
                                {
                                    "name": "client_address",
                                    "label": null,
                                    "type": "text",
                                    "default": null,
                                    "required": false,
                                    "multiline": false
                                },
                                {
                                    "name": "client_email",
                                    "label": null,
                                    "type": "text",
                                    "default": null,
                                    "required": false,
                                    "multiline": false
                                },
                                {
                                    "name": "items",
                                    "label": null,
                                    "type": "array",
                                    "spec": {
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "label": null,
                                                "type": "text",
                                                "default": null,
                                                "required": false,
                                                "multiline": false
                                            },
                                            {
                                                "name": "price",
                                                "label": null,
                                                "type": "number",
                                                "default": null,
                                                "required": false
                                            }
                                        ],
                                        "name": "value"
                                    }
                                },
                                {
                                    "name": "note",
                                    "label": null,
                                    "type": "text",
                                    "default": null,
                                    "required": false,
                                    "multiline": false
                                },
                                {
                                    "name": "subtotal",
                                    "label": null,
                                    "type": "text",
                                    "default": null,
                                    "required": false,
                                    "multiline": false
                                },
                                {
                                    "name": "discount",
                                    "label": null,
                                    "type": "text",
                                    "default": null,
                                    "required": false,
                                    "multiline": false
                                },
                                {
                                    "name": "tax",
                                    "label": null,
                                    "type": "text",
                                    "default": null,
                                    "required": false,
                                    "multiline": false
                                },
                                {
                                    "name": "total",
                                    "label": null,
                                    "type": "text",
                                    "default": null,
                                    "required": false,
                                    "multiline": false
                                }
                            ],
                            "label": "pdf invoice"
                        },
                        "space": {
                            "label": "Empty"
                        }
                    },
                    "expect": {
                        "items": {
                            "mode": "edit"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "type",
                        "type": "udt",
                        "label": "Data structure",
                        "required": true
                    },
                    {
                        "name": "space",
                        "type": "select",
                        "label": "Indentation",
                        "validate": {
                            "enum": [
                                "tab",
                                "2",
                                "4"
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "issuer_name",
                        "type": "text",
                        "label": null
                    },
                    {
                        "name": "issuer_company",
                        "type": "text",
                        "label": null
                    },
                    {
                        "name": "issuer_address",
                        "type": "text",
                        "label": null
                    },
                    {
                        "name": "issuer_email",
                        "type": "text",
                        "label": null
                    },
                    {
                        "name": "issuer_website",
                        "type": "text",
                        "label": null
                    },
                    {
                        "name": "invoice_id",
                        "type": "text",
                        "label": null
                    },
                    {
                        "name": "invoice_date",
                        "type": "text",
                        "label": null
                    },
                    {
                        "name": "invoice_dateDue",
                        "type": "text",
                        "label": null
                    },
                    {
                        "name": "client_name",
                        "type": "text",
                        "label": null
                    },
                    {
                        "name": "client_company",
                        "type": "text",
                        "label": null
                    },
                    {
                        "name": "client_address",
                        "type": "text",
                        "label": null
                    },
                    {
                        "name": "client_email",
                        "type": "text",
                        "label": null
                    },
                    {
                        "name": "items",
                        "type": "array",
                        "label": null,
                        "spec": {
                            "type": "collection",
                            "spec": [
                                {
                                    "name": "name",
                                    "label": null,
                                    "type": "text"
                                },
                                {
                                    "name": "price",
                                    "label": null,
                                    "type": "number"
                                }
                            ],
                            "name": "value"
                        }
                    },
                    {
                        "name": "note",
                        "type": "text",
                        "label": null
                    },
                    {
                        "name": "subtotal",
                        "type": "text",
                        "label": null
                    },
                    {
                        "name": "discount",
                        "type": "text",
                        "label": null
                    },
                    {
                        "name": "tax",
                        "type": "text",
                        "label": null
                    },
                    {
                        "name": "total",
                        "type": "text",
                        "label": null
                    }
                ]
            }
        },
        {
            "id": 13,
            "module": "pdf-co:HTMLtoPDF",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 2047
            },
            "mapper": {
                "name": "{{3.invoice_id}}",
                "async": 15000,
                "export": {
                    "exportType": "downloadFile"
                },
                "convert": {
                    "templateId": "55",
                    "convertType": "fromHtmlTemplate",
                    "templateData": "{{12.json}}"
                },
                "paperSize": "letter",
                "orientation": "portrait",
                "printBackground": false,
                "doNotWaitFullLoad": false
            },
            "metadata": {
                "designer": {
                    "x": 241,
                    "y": 532,
                    "name": "html to pdf"
                },
                "restore": {
                    "async": {
                        "mode": "chose",
                        "label": "15 sec"
                    },
                    "export": {
                        "nested": {
                            "exportType": {
                                "label": "Download a File"
                            }
                        }
                    },
                    "convert": {
                        "nested": {
                            "convertType": {
                                "label": "HTML Template to PDF"
                            }
                        }
                    },
                    "paperSize": {
                        "label": "Letter"
                    },
                    "__IMTCONN__": {
                        "label": "PDF.co"
                    },
                    "orientation": {
                        "label": "Portrait"
                    },
                    "printBackground": {
                        "mode": "chose"
                    },
                    "doNotWaitFullLoad": {
                        "mode": "chose"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "convert",
                        "spec": [
                            {
                                "name": "convertType",
                                "type": "select",
                                "label": "Convert Type",
                                "required": true,
                                "validate": {
                                    "enum": [
                                        "fromHtml",
                                        "fromHtmlTemplate",
                                        "fromWebsite"
                                    ]
                                }
                            },
                            {
                                "name": "templateId",
                                "type": "text",
                                "label": "HTML Template ID",
                                "required": true
                            },
                            {
                                "name": "templateData",
                                "type": "text",
                                "label": "Input data in JSON format",
                                "required": true
                            }
                        ],
                        "type": "collection",
                        "label": "Convert Options",
                        "required": true
                    },
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Output File Name"
                    },
                    {
                        "name": "orientation",
                        "type": "select",
                        "label": "Orientation",
                        "validate": {
                            "enum": [
                                "portrait",
                                "landscape"
                            ]
                        }
                    },
                    {
                        "name": "paperSize",
                        "type": "select",
                        "label": "Paper Size ",
                        "validate": {
                            "enum": [
                                "a0",
                                "a1",
                                "a2",
                                "a3",
                                "a4",
                                "a5",
                                "a6",
                                "legal",
                                "letter",
                                "tabloid",
                                "custom"
                            ]
                        }
                    },
                    {
                        "name": "printBackground",
                        "type": "boolean",
                        "label": "Print Background"
                    },
                    {
                        "name": "doNotWaitFullLoad",
                        "type": "boolean",
                        "label": "Do not wait for full load"
                    },
                    {
                        "name": "margins",
                        "type": "text",
                        "label": "Margins"
                    },
                    {
                        "name": "async",
                        "type": "select",
                        "label": "Async",
                        "validate": {
                            "enum": [
                                15000,
                                false
                            ]
                        }
                    },
                    {
                        "name": "profiles",
                        "type": "text",
                        "label": "Profiles"
                    },
                    {
                        "name": "export",
                        "spec": [
                            {
                                "name": "exportType",
                                "type": "select",
                                "label": "Export Type",
                                "required": true,
                                "validate": {
                                    "enum": [
                                        "downloadFile",
                                        "inline"
                                    ]
                                }
                            }
                        ],
                        "type": "collection",
                        "label": "Export options",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 25,
            "module": "pdf-co:AddSecurityToPDF",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 2047
            },
            "mapper": {
                "async": 15000,
                "export": {
                    "exportType": "downloadFile"
                },
                "import": {
                    "data": "{{13.data}}",
                    "name": "{{13.name}}",
                    "importType": "upload"
                },
                "printQuality": "HighResolution",
                "userPassword": "{{3.security}}",
                "ownerPassword": "P@tcEJt5P?Xr9BQM",
                "allowFillForms": true,
                "allowPrintDocument": true,
                "allowModifyDocument": true,
                "encryptionAlgorithm": "AES_128bit",
                "allowAssemblyDocument": true,
                "allowContentExtraction": true,
                "allowModifyAnnotations": true,
                "allowAccessibilitySupport": true
            },
            "metadata": {
                "designer": {
                    "x": 613,
                    "y": 521,
                    "name": "add passwords"
                },
                "restore": {
                    "async": {
                        "mode": "chose",
                        "label": "15 sec"
                    },
                    "export": {
                        "nested": {
                            "exportType": {
                                "label": "Download a File"
                            }
                        }
                    },
                    "import": {
                        "nested": {
                            "importType": {
                                "label": "Upload a File"
                            }
                        }
                    },
                    "__IMTCONN__": {
                        "label": "PDF.co"
                    },
                    "printQuality": {
                        "mode": "chose",
                        "label": "High Resolution"
                    },
                    "allowFillForms": {
                        "mode": "chose"
                    },
                    "allowPrintDocument": {
                        "mode": "chose"
                    },
                    "allowModifyDocument": {
                        "mode": "chose"
                    },
                    "encryptionAlgorithm": {
                        "mode": "chose",
                        "label": "AES 128bit"
                    },
                    "allowAssemblyDocument": {
                        "mode": "chose"
                    },
                    "allowContentExtraction": {
                        "mode": "chose"
                    },
                    "allowModifyAnnotations": {
                        "mode": "chose"
                    },
                    "allowAccessibilitySupport": {
                        "mode": "chose"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "import",
                        "spec": [
                            {
                                "name": "importType",
                                "type": "select",
                                "label": "Input File",
                                "required": true,
                                "validate": {
                                    "enum": [
                                        "upload",
                                        "url"
                                    ]
                                }
                            },
                            {
                                "mean": "data",
                                "name": "data",
                                "type": "buffer",
                                "label": "Data",
                                "required": true
                            },
                            {
                                "mean": "name",
                                "name": "name",
                                "type": "text",
                                "label": "Output File Name"
                            }
                        ],
                        "type": "collection",
                        "label": "Import Options",
                        "required": true
                    },
                    {
                        "name": "ownerPassword",
                        "type": "text",
                        "label": "Owner Password"
                    },
                    {
                        "name": "userPassword",
                        "type": "text",
                        "label": "User Password"
                    },
                    {
                        "name": "encryptionAlgorithm",
                        "type": "select",
                        "label": "Encryption Algorithm",
                        "validate": {
                            "enum": [
                                "AES_128bit",
                                "AES_256bit",
                                "RC4_40bit",
                                "RC4_128bit"
                            ]
                        }
                    },
                    {
                        "name": "allowPrintDocument",
                        "type": "boolean",
                        "label": "Print Document"
                    },
                    {
                        "name": "printQuality",
                        "type": "select",
                        "label": "Print Quality",
                        "validate": {
                            "enum": [
                                "HighResolution",
                                "LowResolution"
                            ]
                        }
                    },
                    {
                        "name": "allowAssemblyDocument",
                        "type": "boolean",
                        "label": "Assembly Document"
                    },
                    {
                        "name": "allowContentExtraction",
                        "type": "boolean",
                        "label": "Content Extraction"
                    },
                    {
                        "name": "allowAccessibilitySupport",
                        "type": "boolean",
                        "label": "Accessibility Support"
                    },
                    {
                        "name": "allowModifyDocument",
                        "type": "boolean",
                        "label": "Modify Document"
                    },
                    {
                        "name": "allowFillForms",
                        "type": "boolean",
                        "label": "Fill Forms"
                    },
                    {
                        "name": "allowModifyAnnotations",
                        "type": "boolean",
                        "label": "Modify Annotations"
                    },
                    {
                        "name": "async",
                        "type": "select",
                        "label": "Async",
                        "validate": {
                            "enum": [
                                15000,
                                false
                            ]
                        }
                    },
                    {
                        "name": "profiles",
                        "type": "text",
                        "label": "Profiles"
                    },
                    {
                        "name": "export",
                        "spec": [
                            {
                                "name": "exportType",
                                "type": "select",
                                "label": "Export Type",
                                "required": true,
                                "validate": {
                                    "enum": [
                                        "downloadFile",
                                        "inline"
                                    ]
                                }
                            }
                        ],
                        "type": "collection",
                        "label": "Export options",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 24,
            "module": "google-drive:uploadAFile",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 2037
            },
            "mapper": {
                "data": "{{25.data}}",
                "select": "value",
                "convert": false,
                "filename": "{{25.name}}",
                "folderId": "/19MofyA7-Ul2jtFC2yavnhVYDngm7ieJb/1Y-FvX-_HS9S80CCWG26nDGfF3Zb2dlY1/1TsnU6Tg4ojjAbeEXVIsFULhxjCAVdA-k",
                "destination": "drive"
            },
            "metadata": {
                "designer": {
                    "x": 919,
                    "y": 514,
                    "name": "generate share link"
                },
                "restore": {
                    "select": {
                        "label": "Select from the list"
                    },
                    "folderId": {
                        "mode": "chose",
                        "path": [
                            "public",
                            "PDF.co",
                            "invoice-demo"
                        ]
                    },
                    "__IMTCONN__": {
                        "label": "My Google Restricted connection (mana@ethical.works)"
                    },
                    "destination": {
                        "label": "My Drive"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Enter a Folder ID",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "value"
                            ]
                        }
                    },
                    {
                        "name": "title",
                        "type": "text",
                        "label": "New File Name"
                    },
                    {
                        "mean": "name",
                        "name": "filename",
                        "type": "filename",
                        "label": "File Name",
                        "required": true
                    },
                    {
                        "mean": "data",
                        "name": "data",
                        "type": "buffer",
                        "label": "Data",
                        "required": true
                    },
                    {
                        "name": "convert",
                        "type": "boolean",
                        "label": "Convert a File",
                        "required": true
                    },
                    {
                        "name": "destination",
                        "type": "select",
                        "label": "New Drive Location",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "folderId",
                        "type": "folder",
                        "label": "New Folder Location",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 27,
            "module": "handlebars:Compile",
            "version": 1,
            "parameters": {
                "mode": "",
                "template": "<p>Dear {{client_name}},</p>\n\n<p>Hope all is well with you!<br>\nI'm attaching an invoice so please kindly find the attached.</p>\n\n<p>{{link}}</p>\n\n<p>Password (NOT RECOMMEND!)<br>\n{{security}}</p>\n\n<p>Warm regards,</p>\n<p>{{issuer_name}}<br>\n{{issuer_company}}<br>\n{{issuer_email}}</p>"
            },
            "mapper": {
                "variables": [
                    {
                        "key": "client_name",
                        "value": "{{3.client_name}}"
                    },
                    {
                        "key": "link",
                        "value": "{{24.webContentLink}}"
                    },
                    {
                        "key": "issuer_name",
                        "value": "YOUR_NAME"
                    },
                    {
                        "key": "issuer_company",
                        "value": "YOUR_COMAPNY"
                    },
                    {
                        "key": "issuer_email",
                        "value": "YOUR_EMAIL"
                    },
                    {
                        "key": "security",
                        "value": "{{3.security}}"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 1207,
                    "y": 513,
                    "name": "create email"
                },
                "restore": {
                    "parameters": {
                        "mode": {
                            "label": "Non-mappable"
                        }
                    },
                    "expect": {
                        "variables": {
                            "mode": "chose",
                            "items": [
                                null,
                                null,
                                null,
                                null,
                                null,
                                null
                            ]
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Template mode",
                        "validate": {
                            "enum": [
                                "mappable"
                            ]
                        }
                    },
                    {
                        "name": "template",
                        "type": "text",
                        "label": "Template",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "variables",
                        "type": "array",
                        "label": "Variables",
                        "spec": [
                            {
                                "name": "key",
                                "label": "Key",
                                "type": "text"
                            },
                            {
                                "name": "value",
                                "label": "Value",
                                "type": "any"
                            }
                        ]
                    }
                ]
            }
        },
        {
            "id": 26,
            "module": "email:ActionSendEmail",
            "version": 7,
            "parameters": {
                "account": 2037,
                "saveAfterSent": false
            },
            "mapper": {
                "to": "{{3.client_email}}",
                "subject": "Invoice ({{3.invoice_id}})",
                "contentType": "html",
                "attachments": [],
                "cc": [],
                "bcc": [],
                "from": "",
                "sender": "",
                "replyTo": "",
                "inReplyTo": "",
                "references": [],
                "priority": "normal",
                "headers": [],
                "html": "{{27.data}}"
            },
            "metadata": {
                "designer": {
                    "x": 1514,
                    "y": 497
                },
                "restore": {
                    "parameters": {
                        "account": {
                            "label": "My Google Restricted connection (mana@ethical.works)",
                            "data": {
                                "scoped": "true",
                                "connection": "google-restricted"
                            }
                        },
                        "saveAfterSent": {
                            "label": "No"
                        }
                    },
                    "expect": {
                        "to": {
                            "mode": "edit"
                        },
                        "contentType": {
                            "label": "HTML"
                        },
                        "attachments": {
                            "mode": "chose"
                        },
                        "cc": {
                            "mode": "chose"
                        },
                        "bcc": {
                            "mode": "chose"
                        },
                        "references": {
                            "mode": "chose"
                        },
                        "priority": {
                            "label": "Normal"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "account",
                        "type": "account:smtp,google-restricted",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "saveAfterSent",
                        "type": "select",
                        "label": "Save message after sending",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "to",
                        "type": "array",
                        "label": "To",
                        "required": true,
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address",
                            "required": true
                        }
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject"
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Content Type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "html",
                                "text"
                            ]
                        }
                    },
                    {
                        "name": "attachments",
                        "type": "array",
                        "label": "Attachments",
                        "spec": [
                            {
                                "name": "fileName",
                                "label": "File name",
                                "type": "filename",
                                "required": true,
                                "semantic": "file:name"
                            },
                            {
                                "name": "data",
                                "label": "Data",
                                "type": "buffer",
                                "required": true,
                                "semantic": "file:data"
                            },
                            {
                                "name": "cid",
                                "label": "Content-ID",
                                "type": "text"
                            }
                        ]
                    },
                    {
                        "name": "cc",
                        "type": "array",
                        "label": "Copy recipient",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address"
                        }
                    },
                    {
                        "name": "bcc",
                        "type": "array",
                        "label": "Blind copy recipient",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address"
                        }
                    },
                    {
                        "name": "from",
                        "type": "text",
                        "label": "From"
                    },
                    {
                        "name": "sender",
                        "type": "text",
                        "label": "Sender"
                    },
                    {
                        "name": "replyTo",
                        "type": "text",
                        "label": "Reply-To"
                    },
                    {
                        "name": "inReplyTo",
                        "type": "text",
                        "label": "In-Reply-To"
                    },
                    {
                        "name": "references",
                        "type": "array",
                        "label": "References",
                        "spec": {
                            "type": "text",
                            "label": "Reference",
                            "required": true,
                            "name": "value"
                        }
                    },
                    {
                        "name": "priority",
                        "type": "select",
                        "label": "Priority",
                        "validate": {
                            "enum": [
                                "high",
                                "normal",
                                "low"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "type": "array",
                        "label": "Headers",
                        "spec": [
                            {
                                "name": "key",
                                "label": "Key",
                                "type": "text",
                                "required": true
                            },
                            {
                                "name": "value",
                                "label": "Value",
                                "type": "text",
                                "required": true
                            }
                        ]
                    },
                    {
                        "name": "html",
                        "type": "text",
                        "label": "Content"
                    }
                ]
            }
        },
        {
            "id": 28,
            "module": "todoist:CreateItem",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 98788
            },
            "mapper": {
                "content": "invoice ({{3.invoice_id}} - {{3.client_company}})",
                "description": "{{stripHTML(27.data)}}",
                "project_id": 2274680072,
                "due": {
                    "type": "date",
                    "date": "{{3.invoice_dateDue}}"
                },
                "section_id": 63883072
            },
            "metadata": {
                "designer": {
                    "x": 1821,
                    "y": 504,
                    "name": "task with due date"
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "Todoist EW",
                            "data": {
                                "scoped": "true",
                                "connection": "todoist"
                            }
                        }
                    },
                    "expect": {
                        "project_id": {
                            "mode": "chose",
                            "label": "Integromat"
                        },
                        "labels": {
                            "mode": "chose"
                        },
                        "due": {
                            "nested": {
                                "type": {
                                    "mode": "chose",
                                    "label": "Only date"
                                },
                                "is_recurring": {
                                    "mode": "chose"
                                }
                            }
                        },
                        "priority": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "responsible_uid": {
                            "mode": "chose"
                        },
                        "assigned_by_uid": {
                            "mode": "chose"
                        },
                        "auto_reminder": {
                            "mode": "chose"
                        },
                        "section_id": {
                            "mode": "chose",
                            "label": "Sales"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:todoist",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "content",
                        "type": "text",
                        "label": "Content",
                        "required": true
                    },
                    {
                        "name": "description",
                        "type": "text",
                        "label": "Description"
                    },
                    {
                        "name": "project_id",
                        "type": "select",
                        "label": "Project"
                    },
                    {
                        "name": "labels",
                        "type": "select",
                        "label": "Labels",
                        "multiple": true
                    },
                    {
                        "name": "due",
                        "type": "collection",
                        "label": "Due date",
                        "spec": [
                            {
                                "name": "type",
                                "type": "select",
                                "label": "Format",
                                "validate": {
                                    "enum": [
                                        "date",
                                        "datetime"
                                    ]
                                }
                            },
                            {
                                "name": "date",
                                "type": "date",
                                "label": "Date"
                            },
                            {
                                "name": "string",
                                "type": "text",
                                "label": "Human-readable representation of due date"
                            },
                            {
                                "name": "is_recurring",
                                "type": "boolean",
                                "label": "Is recurring"
                            }
                        ]
                    },
                    {
                        "name": "priority",
                        "type": "select",
                        "label": "Priority",
                        "validate": {
                            "enum": [
                                4,
                                3,
                                2,
                                1
                            ]
                        }
                    },
                    {
                        "name": "parent_id",
                        "type": "text",
                        "label": "Parent ID"
                    },
                    {
                        "name": "responsible_uid",
                        "type": "select",
                        "label": "Responsible"
                    },
                    {
                        "name": "assigned_by_uid",
                        "type": "select",
                        "label": "Assigned by"
                    },
                    {
                        "name": "auto_reminder",
                        "type": "boolean",
                        "label": "Auto reminder"
                    },
                    {
                        "name": "section_id",
                        "type": "select",
                        "label": "Section"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": false,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us1.make.com"
    }
}