document-management/blueprint-get-and-manage-invoice-with-pdfco-and-todoist.json
{
    "name": "bp029: receive invoice without OCR",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomMailHook",
            "version": 1,
            "parameters": {
                "hook": 138519,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 150,
                    "name": "you got a mail"
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "false"
                            },
                            "label": "bp029-receive-invoice"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-mailhook",
                        "label": "Mailhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "pdf-co:Univ",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 2047
            },
            "filter": {
                "name": "PDF?",
                "conditions": [
                    [
                        {
                            "a": "{{1.attachments[].contentType}}",
                            "b": "pdf",
                            "o": "text:contain:ci"
                        }
                    ]
                ]
            },
            "mapper": {
                "url": "/v1/pdf/convert/to/text-simple",
                "export": {
                    "exportType": "downloadFile"
                },
                "import": {
                    "inputs": [
                        {
                            "data": "{{1.attachments[].data}}"
                        }
                    ],
                    "importType": "upload"
                },
                "method": "POST",
                "headers": [
                    {
                        "key": "Content-Type",
                        "value": "application/json"
                    }
                ],
                "asyncWait": 15000,
                "asyncForced": true
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 150,
                    "name": "PDF to text"
                },
                "restore": {
                    "expect": {
                        "body": {
                            "mode": "chose"
                        },
                        "export": {
                            "nested": {
                                "exportType": {
                                    "label": "Download a File"
                                }
                            }
                        },
                        "import": {
                            "nested": {
                                "inputs": {
                                    "mode": "chose",
                                    "items": [
                                        null
                                    ]
                                },
                                "importType": {
                                    "label": "Upload files and inject as `url` param"
                                }
                            }
                        },
                        "method": {
                            "mode": "chose",
                            "label": "POST"
                        },
                        "headers": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "asyncWait": {
                            "mode": "chose",
                            "label": "Check every 15 sec"
                        },
                        "asyncForced": {
                            "mode": "chose",
                            "label": "Yes, forcely enable async mode"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "pdf-co"
                            },
                            "label": "PDF.co"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:pdf-co",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "text",
                        "label": "API Endpoint Path",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "GET",
                                "POST",
                                "PUT",
                                "PATCH",
                                "DELETE"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "import",
                        "spec": [
                            {
                                "name": "importType",
                                "type": "select",
                                "label": "Input Type",
                                "required": true,
                                "validate": {
                                    "enum": [
                                        "none",
                                        "upload",
                                        "url"
                                    ]
                                }
                            },
                            {
                                "name": "inputs",
                                "spec": [
                                    {
                                        "name": "data",
                                        "type": "buffer",
                                        "label": "Data",
                                        "required": true,
                                        "semantic": "file:data"
                                    }
                                ],
                                "type": "array",
                                "label": "Input files",
                                "required": true,
                                "validate": {
                                    "maxItems": 7,
                                    "minItems": 1
                                }
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Output File Name"
                            }
                        ],
                        "type": "collection",
                        "label": "Override Url Param with File"
                    },
                    {
                        "name": "body",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Body"
                    },
                    {
                        "name": "asyncForced",
                        "type": "select",
                        "label": "Forcely enable `async` mode",
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "asyncWait",
                        "type": "select",
                        "label": "Auto-run `job/check` for async jobs",
                        "validate": {
                            "enum": [
                                15000,
                                false
                            ]
                        }
                    },
                    {
                        "name": "export",
                        "spec": [
                            {
                                "name": "exportType",
                                "type": "select",
                                "label": "Export Type",
                                "required": true,
                                "validate": {
                                    "enum": [
                                        "downloadFile",
                                        "inline"
                                    ]
                                }
                            }
                        ],
                        "type": "collection",
                        "label": "Export options",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "http:ActionSendData",
            "version": 3,
            "parameters": {
                "handleErrors": false,
                "useNewZLibDeCompress": true
            },
            "mapper": {
                "ca": "",
                "qs": [],
                "url": "{{3.url}}",
                "gzip": true,
                "method": "get",
                "headers": [],
                "timeout": "",
                "useMtls": false,
                "authPass": "",
                "authUser": "",
                "bodyType": "",
                "serializeUrl": false,
                "shareCookies": false,
                "parseResponse": true,
                "followRedirect": true,
                "useQuerystring": false,
                "followAllRedirects": false,
                "rejectUnauthorized": true
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 150,
                    "name": "get text"
                },
                "restore": {
                    "expect": {
                        "qs": {
                            "mode": "chose"
                        },
                        "method": {
                            "mode": "chose",
                            "label": "GET"
                        },
                        "headers": {
                            "mode": "chose"
                        },
                        "bodyType": {
                            "label": "Empty"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "handleErrors",
                        "type": "boolean",
                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                        "required": true
                    },
                    {
                        "name": "useNewZLibDeCompress",
                        "type": "hidden"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "serializeUrl",
                        "type": "boolean",
                        "label": "Serialize URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Query String"
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "validate": {
                            "enum": [
                                "raw",
                                "x_www_form_urlencoded",
                                "multipart_form_data"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "authUser",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "authPass",
                        "type": "password",
                        "label": "Password"
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "ca",
                        "type": "cert",
                        "label": "Self-signed certificate"
                    },
                    {
                        "name": "rejectUnauthorized",
                        "type": "boolean",
                        "label": "Reject connections that are using unverified (self-signed) certificates",
                        "required": true
                    },
                    {
                        "name": "followRedirect",
                        "type": "boolean",
                        "label": "Follow redirect",
                        "required": true
                    },
                    {
                        "name": "useQuerystring",
                        "type": "boolean",
                        "label": "Disable serialization of multiple same query string keys as arrays",
                        "required": true
                    },
                    {
                        "name": "gzip",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "useMtls",
                        "type": "boolean",
                        "label": "Use Mutual TLS",
                        "required": true
                    },
                    {
                        "name": "followAllRedirects",
                        "type": "boolean",
                        "label": "Follow all redirect",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 8,
            "module": "regexp:Parser",
            "version": 1,
            "parameters": {
                "global": true,
                "pattern": "([0-9]{3}\\-[0-9]{4}\\-[0-9]{4})",
                "multiline": true,
                "sensitive": true,
                "singleline": false,
                "continueWhenNoRes": true,
                "ignoreInfiniteLoopsWhenGlobal": false
            },
            "mapper": {
                "text": "{{4.data}}"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 150,
                    "name": "get phone no"
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "pattern",
                        "type": "text",
                        "label": "Pattern",
                        "required": true
                    },
                    {
                        "name": "global",
                        "type": "boolean",
                        "label": "Global match",
                        "required": true
                    },
                    {
                        "name": "sensitive",
                        "type": "boolean",
                        "label": "Case sensitive",
                        "required": true
                    },
                    {
                        "name": "multiline",
                        "type": "boolean",
                        "label": "Multiline",
                        "required": true
                    },
                    {
                        "name": "singleline",
                        "type": "boolean",
                        "label": "Singleline",
                        "required": true
                    },
                    {
                        "name": "continueWhenNoRes",
                        "type": "boolean",
                        "label": "Continue the execution of the route even if the module finds no matches",
                        "required": true
                    },
                    {
                        "name": "ignoreInfiniteLoopsWhenGlobal",
                        "type": "boolean",
                        "label": "Ignore errors when there is an infinite search loop",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Text"
                    }
                ],
                "interface": [
                    {
                        "name": "$1",
                        "type": "text",
                        "label": "$1"
                    },
                    {
                        "name": "i",
                        "type": "uinteger",
                        "label": "i"
                    },
                    {
                        "name": "__IMTMATCH__",
                        "type": "any",
                        "label": "Fallback Match"
                    }
                ]
            }
        },
        {
            "id": 19,
            "module": "regexp:Parser",
            "version": 1,
            "parameters": {
                "global": true,
                "pattern": "([A-Z]{2}[0-9]{3})([0-9]{4})",
                "multiline": true,
                "sensitive": true,
                "singleline": false,
                "continueWhenNoRes": true,
                "ignoreInfiniteLoopsWhenGlobal": false
            },
            "mapper": {
                "text": "{{4.data}}"
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 150,
                    "name": "get invoice no"
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "pattern",
                        "type": "text",
                        "label": "Pattern",
                        "required": true
                    },
                    {
                        "name": "global",
                        "type": "boolean",
                        "label": "Global match",
                        "required": true
                    },
                    {
                        "name": "sensitive",
                        "type": "boolean",
                        "label": "Case sensitive",
                        "required": true
                    },
                    {
                        "name": "multiline",
                        "type": "boolean",
                        "label": "Multiline",
                        "required": true
                    },
                    {
                        "name": "singleline",
                        "type": "boolean",
                        "label": "Singleline",
                        "required": true
                    },
                    {
                        "name": "continueWhenNoRes",
                        "type": "boolean",
                        "label": "Continue the execution of the route even if the module finds no matches",
                        "required": true
                    },
                    {
                        "name": "ignoreInfiniteLoopsWhenGlobal",
                        "type": "boolean",
                        "label": "Ignore errors when there is an infinite search loop",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Text"
                    }
                ],
                "interface": [
                    {
                        "name": "$1",
                        "type": "text",
                        "label": "$1"
                    },
                    {
                        "name": "$2",
                        "type": "text",
                        "label": "$2"
                    },
                    {
                        "name": "i",
                        "type": "uinteger",
                        "label": "i"
                    },
                    {
                        "name": "__IMTMATCH__",
                        "type": "any",
                        "label": "Fallback Match"
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "builtin:BasicRouter",
            "version": 1,
            "parameters": {
                "else": 1
            },
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 150
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 11,
                            "module": "datastore:SearchRecord",
                            "version": 1,
                            "parameters": {
                                "limit": null,
                                "datastore": 5958
                            },
                            "filter": {
                                "name": "no phone?",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{8.`$1`}}",
                                            "o": "notexist"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "sort": [],
                                "filter": [
                                    [
                                        {
                                            "a": "id_compnay",
                                            "b": "{{19.`$1`}}",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1800,
                                    "y": 0
                                },
                                "restore": {
                                    "parameters": {
                                        "datastore": {
                                            "label": "bp029-invoice"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "datastore",
                                        "type": "datastore",
                                        "label": "Data store",
                                        "required": true
                                    },
                                    {
                                        "name": "limit",
                                        "type": "uinteger",
                                        "label": "Limit"
                                    },
                                    {
                                        "name": "continueWhenNoRes",
                                        "type": "boolean",
                                        "label": "Continue the execution of the route even if the module returns no results"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "filter",
                                        "type": "filter",
                                        "label": "Filter",
                                        "options": "rpc://datastore/1.8.2/RpcGetUDTKeys",
                                        "required": true
                                    },
                                    {
                                        "name": "sort",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "select",
                                                "label": "Key",
                                                "dynamic": true,
                                                "options": [],
                                                "required": true
                                            },
                                            {
                                                "name": "order",
                                                "type": "select",
                                                "label": "Order",
                                                "options": [
                                                    {
                                                        "label": "Ascending",
                                                        "value": 1
                                                    },
                                                    {
                                                        "label": "Descending",
                                                        "value": -1
                                                    }
                                                ],
                                                "required": true
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Sort"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "key",
                                        "type": "text",
                                        "label": "Key"
                                    },
                                    {
                                        "name": "data",
                                        "spec": [
                                            {
                                                "name": "name_company",
                                                "type": "text",
                                                "label": null,
                                                "default": null,
                                                "required": false,
                                                "multiline": false
                                            },
                                            {
                                                "name": "id_compnay",
                                                "type": "text",
                                                "label": null,
                                                "default": null,
                                                "required": false,
                                                "multiline": false
                                            },
                                            {
                                                "name": "tel_company",
                                                "type": "text",
                                                "label": null,
                                                "default": null,
                                                "required": false,
                                                "multiline": false
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 12,
                            "module": "google-drive:searchForFilesFolders",
                            "version": 4,
                            "parameters": {
                                "__IMTCONN__": 2042
                            },
                            "filter": {
                                "name": "exists?",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{11.data.id_compnay}}",
                                            "b": "{{19.`$1`}}",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "limit": "1",
                                "query": "{{11.data.id_compnay}}",
                                "select": "list",
                                "folderId": "",
                                "operator": "=",
                                "retrieve": "folder",
                                "searchType": "title",
                                "destination": "drive"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2100,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "select": {
                                            "label": "Select from the list"
                                        },
                                        "folderId": {
                                            "mode": "chose",
                                            "path": [
                                                "public",
                                                "PDF.co",
                                                "invoice-demo"
                                            ]
                                        },
                                        "operator": {
                                            "label": "Search for exact term"
                                        },
                                        "retrieve": {
                                            "label": "Folders"
                                        },
                                        "searchType": {
                                            "label": "Search within file/folder names"
                                        },
                                        "destination": {
                                            "label": "My Drive"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google-restricted"
                                            },
                                            "label": "My Google Restricted"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google-restricted",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "select",
                                        "type": "select",
                                        "label": "Select the Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "map",
                                                "list"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "retrieve",
                                        "type": "select",
                                        "label": "Retrieve",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "file",
                                                "folder",
                                                "file_folder"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "searchType",
                                        "type": "select",
                                        "label": "Search",
                                        "validate": {
                                            "enum": [
                                                "title",
                                                "fulltext",
                                                "custom"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "limit",
                                        "type": "uinteger",
                                        "label": "Limit"
                                    },
                                    {
                                        "name": "destination",
                                        "type": "select",
                                        "label": "Choose a Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "folderId",
                                        "type": "folder",
                                        "label": "Choose a Folder"
                                    },
                                    {
                                        "name": "query",
                                        "type": "text",
                                        "label": "Query",
                                        "required": true
                                    },
                                    {
                                        "name": "operator",
                                        "type": "select",
                                        "label": "Search options",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "=",
                                                "contains"
                                            ]
                                        }
                                    }
                                ]
                            }
                        },
                        {
                            "id": 13,
                            "module": "google-drive:uploadAFile",
                            "version": 4,
                            "parameters": {
                                "__IMTCONN__": 2042
                            },
                            "mapper": {
                                "data": "{{1.attachments[].data}}",
                                "select": "map",
                                "convert": false,
                                "filename": "{{1.attachments[].fileName}}",
                                "folderId": "{{12.id}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2400,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "select": {
                                            "label": "Enter manually"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google-restricted"
                                            },
                                            "label": "My Google Restricted"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google-restricted",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "select",
                                        "type": "select",
                                        "label": "Enter a Folder ID",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "map",
                                                "value"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "title",
                                        "type": "text",
                                        "label": "New File Name"
                                    },
                                    {
                                        "name": "filename",
                                        "type": "filename",
                                        "label": "File Name",
                                        "required": true
                                    },
                                    {
                                        "name": "data",
                                        "type": "buffer",
                                        "label": "Data",
                                        "required": true
                                    },
                                    {
                                        "name": "convert",
                                        "type": "boolean",
                                        "label": "Convert a File",
                                        "required": true
                                    },
                                    {
                                        "name": "folderId",
                                        "type": "text",
                                        "label": "Folder ID",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 24,
                            "module": "regexp:Parser",
                            "version": 1,
                            "parameters": {
                                "global": true,
                                "pattern": "([0-9]{4}\\/[0-9]{2}\\/[0-9]{2})",
                                "multiline": true,
                                "sensitive": true,
                                "singleline": false,
                                "continueWhenNoRes": true,
                                "ignoreInfiniteLoopsWhenGlobal": false
                            },
                            "mapper": {
                                "text": "{{4.data}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2700,
                                    "y": 0,
                                    "name": "get due date"
                                },
                                "restore": {},
                                "parameters": [
                                    {
                                        "name": "pattern",
                                        "type": "text",
                                        "label": "Pattern",
                                        "required": true
                                    },
                                    {
                                        "name": "global",
                                        "type": "boolean",
                                        "label": "Global match",
                                        "required": true
                                    },
                                    {
                                        "name": "sensitive",
                                        "type": "boolean",
                                        "label": "Case sensitive",
                                        "required": true
                                    },
                                    {
                                        "name": "multiline",
                                        "type": "boolean",
                                        "label": "Multiline",
                                        "required": true
                                    },
                                    {
                                        "name": "singleline",
                                        "type": "boolean",
                                        "label": "Singleline",
                                        "required": true
                                    },
                                    {
                                        "name": "continueWhenNoRes",
                                        "type": "boolean",
                                        "label": "Continue the execution of the route even if the module finds no matches",
                                        "required": true
                                    },
                                    {
                                        "name": "ignoreInfiniteLoopsWhenGlobal",
                                        "type": "boolean",
                                        "label": "Ignore errors when there is an infinite search loop",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "$1",
                                        "type": "text",
                                        "label": "$1"
                                    },
                                    {
                                        "name": "i",
                                        "type": "uinteger",
                                        "label": "i"
                                    },
                                    {
                                        "name": "__IMTMATCH__",
                                        "type": "any",
                                        "label": "Fallback Match"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 25,
                            "module": "util:TextAggregator",
                            "version": 1,
                            "parameters": {
                                "feeder": 24,
                                "rowSeparator": "other",
                                "otherRowSeparator": "__"
                            },
                            "mapper": {
                                "value": "{{24.`$1`}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 3000,
                                    "y": 0
                                },
                                "restore": {
                                    "extra": {
                                        "feeder": {
                                            "label": "get due date - Match pattern"
                                        }
                                    },
                                    "parameters": {
                                        "rowSeparator": {
                                            "label": "Other"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "rowSeparator",
                                        "type": "select",
                                        "label": "Row separator",
                                        "validate": {
                                            "enum": [
                                                "\n",
                                                "\t",
                                                "other"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "otherRowSeparator",
                                        "type": "text",
                                        "label": "Separator"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ],
                                "advanced": true
                            }
                        },
                        {
                            "id": 26,
                            "module": "util:SetVariable2",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "name": "arr_date",
                                "scope": "roundtrip",
                                "value": "{{split(25.text; \"__\")}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 3300,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "scope": {
                                            "label": "One cycle"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Variable name",
                                        "required": true
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Variable value"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "arr_date",
                                        "type": "any",
                                        "label": "arr_date"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 27,
                            "module": "todoist:CreateItem",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 98788
                            },
                            "filter": {
                                "name": "2 dates?",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{26.arr_date}}",
                                            "b": "2",
                                            "o": "array:equal"
                                        },
                                        {
                                            "a": "{{get(26.arr_date; 1)}}",
                                            "b": "{{get(26.arr_date; 2)}}",
                                            "o": "date:less"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "due": {
                                    "date": "{{addDays(get(26.arr_date; 2); -3)}}",
                                    "type": "date"
                                },
                                "content": "Pay invoice - {{11.data.name_company}}",
                                "project_id": 0000000000,
                                "section_id": 00000000,
                                "description": "No. {{19.`$1`}}{{19.`$2`}}\n{{13.webViewLink}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 3600,
                                    "y": 0,
                                    "name": "set 3 days before of due date"
                                },
                                "restore": {
                                    "expect": {
                                        "due": {
                                            "nested": {
                                                "type": {
                                                    "mode": "chose",
                                                    "label": "Only date"
                                                },
                                                "is_recurring": {
                                                    "mode": "chose"
                                                }
                                            }
                                        },
                                        "labels": {
                                            "mode": "chose"
                                        },
                                        "priority": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "project_id": {
                                            "mode": "chose",
                                            "label": "Demo - content management"
                                        },
                                        "section_id": {
                                            "mode": "chose",
                                            "label": "Todo"
                                        },
                                        "auto_reminder": {
                                            "mode": "chose"
                                        },
                                        "assigned_by_uid": {
                                            "mode": "chose"
                                        },
                                        "responsible_uid": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "todoist"
                                            },
                                            "label": "Todoist EW"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:todoist",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "content",
                                        "type": "text",
                                        "label": "Content",
                                        "required": true
                                    },
                                    {
                                        "name": "description",
                                        "type": "text",
                                        "label": "Description"
                                    },
                                    {
                                        "name": "project_id",
                                        "type": "select",
                                        "label": "Project"
                                    },
                                    {
                                        "name": "labels",
                                        "type": "select",
                                        "label": "Labels",
                                        "multiple": true
                                    },
                                    {
                                        "name": "due",
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "select",
                                                "label": "Format",
                                                "validate": {
                                                    "enum": [
                                                        "date",
                                                        "datetime"
                                                    ]
                                                }
                                            },
                                            {
                                                "name": "date",
                                                "type": "date",
                                                "label": "Date"
                                            },
                                            {
                                                "name": "string",
                                                "type": "text",
                                                "label": "Human-readable representation of due date"
                                            },
                                            {
                                                "name": "is_recurring",
                                                "type": "boolean",
                                                "label": "Is recurring"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Due date"
                                    },
                                    {
                                        "name": "priority",
                                        "type": "select",
                                        "label": "Priority",
                                        "validate": {
                                            "enum": [
                                                4,
                                                3,
                                                2,
                                                1
                                            ]
                                        }
                                    },
                                    {
                                        "name": "parent_id",
                                        "type": "text",
                                        "label": "Parent ID"
                                    },
                                    {
                                        "name": "responsible_uid",
                                        "type": "select",
                                        "label": "Responsible"
                                    },
                                    {
                                        "name": "assigned_by_uid",
                                        "type": "select",
                                        "label": "Assigned by"
                                    },
                                    {
                                        "name": "auto_reminder",
                                        "type": "boolean",
                                        "label": "Auto reminder"
                                    },
                                    {
                                        "name": "section_id",
                                        "type": "select",
                                        "label": "Section"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 9,
                            "module": "datastore:SearchRecord",
                            "version": 1,
                            "parameters": {
                                "limit": null,
                                "datastore": 5958
                            },
                            "mapper": {
                                "sort": [],
                                "filter": [
                                    [
                                        {
                                            "a": "tel_company",
                                            "b": "{{8.`$1`}}",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1800,
                                    "y": 300
                                },
                                "restore": {
                                    "parameters": {
                                        "datastore": {
                                            "label": "bp029-invoice"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "datastore",
                                        "type": "datastore",
                                        "label": "Data store",
                                        "required": true
                                    },
                                    {
                                        "name": "limit",
                                        "type": "uinteger",
                                        "label": "Limit"
                                    },
                                    {
                                        "name": "continueWhenNoRes",
                                        "type": "boolean",
                                        "label": "Continue the execution of the route even if the module returns no results"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "filter",
                                        "type": "filter",
                                        "label": "Filter",
                                        "options": "rpc://datastore/1.8.2/RpcGetUDTKeys",
                                        "required": true
                                    },
                                    {
                                        "name": "sort",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "select",
                                                "label": "Key",
                                                "dynamic": true,
                                                "options": [],
                                                "required": true
                                            },
                                            {
                                                "name": "order",
                                                "type": "select",
                                                "label": "Order",
                                                "options": [
                                                    {
                                                        "label": "Ascending",
                                                        "value": 1
                                                    },
                                                    {
                                                        "label": "Descending",
                                                        "value": -1
                                                    }
                                                ],
                                                "required": true
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Sort"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "key",
                                        "type": "text",
                                        "label": "Key"
                                    },
                                    {
                                        "name": "data",
                                        "spec": [
                                            {
                                                "name": "name_company",
                                                "type": "text",
                                                "label": null,
                                                "default": null,
                                                "required": false,
                                                "multiline": false
                                            },
                                            {
                                                "name": "id_compnay",
                                                "type": "text",
                                                "label": null,
                                                "default": null,
                                                "required": false,
                                                "multiline": false
                                            },
                                            {
                                                "name": "tel_company",
                                                "type": "text",
                                                "label": null,
                                                "default": null,
                                                "required": false,
                                                "multiline": false
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 10,
                            "module": "google-drive:searchForFilesFolders",
                            "version": 4,
                            "parameters": {
                                "__IMTCONN__": 2042
                            },
                            "filter": {
                                "name": "exists?",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{9.data.id_compnay}}",
                                            "o": "exist"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "limit": "1",
                                "query": "{{9.data.id_compnay}}",
                                "select": "list",
                                "folderId": "",
                                "operator": "=",
                                "retrieve": "folder",
                                "searchType": "title",
                                "destination": "drive"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2100,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "select": {
                                            "label": "Select from the list"
                                        },
                                        "folderId": {
                                            "mode": "chose",
                                            "path": [
                                                "public",
                                                "PDF.co",
                                                "invoice-demo"
                                            ]
                                        },
                                        "operator": {
                                            "label": "Search for exact term"
                                        },
                                        "retrieve": {
                                            "label": "Folders"
                                        },
                                        "searchType": {
                                            "label": "Search within file/folder names"
                                        },
                                        "destination": {
                                            "label": "My Drive"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google-restricted"
                                            },
                                            "label": "My Google Restricted"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google-restricted",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "select",
                                        "type": "select",
                                        "label": "Select the Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "map",
                                                "list"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "retrieve",
                                        "type": "select",
                                        "label": "Retrieve",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "file",
                                                "folder",
                                                "file_folder"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "searchType",
                                        "type": "select",
                                        "label": "Search",
                                        "validate": {
                                            "enum": [
                                                "title",
                                                "fulltext",
                                                "custom"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "limit",
                                        "type": "uinteger",
                                        "label": "Limit"
                                    },
                                    {
                                        "name": "destination",
                                        "type": "select",
                                        "label": "Choose a Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "folderId",
                                        "type": "folder",
                                        "label": "Choose a Folder"
                                    },
                                    {
                                        "name": "query",
                                        "type": "text",
                                        "label": "Query",
                                        "required": true
                                    },
                                    {
                                        "name": "operator",
                                        "type": "select",
                                        "label": "Search options",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "=",
                                                "contains"
                                            ]
                                        }
                                    }
                                ]
                            }
                        },
                        {
                            "id": 16,
                            "module": "google-drive:uploadAFile",
                            "version": 4,
                            "parameters": {
                                "__IMTCONN__": 2042
                            },
                            "mapper": {
                                "data": "{{1.attachments[].data}}",
                                "select": "map",
                                "convert": false,
                                "filename": "{{1.attachments[].fileName}}",
                                "folderId": "{{10.id}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2400,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "select": {
                                            "label": "Enter manually"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google-restricted"
                                            },
                                            "label": "My Google Restricted"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google-restricted",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "select",
                                        "type": "select",
                                        "label": "Enter a Folder ID",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "map",
                                                "value"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "title",
                                        "type": "text",
                                        "label": "New File Name"
                                    },
                                    {
                                        "name": "filename",
                                        "type": "filename",
                                        "label": "File Name",
                                        "required": true
                                    },
                                    {
                                        "name": "data",
                                        "type": "buffer",
                                        "label": "Data",
                                        "required": true
                                    },
                                    {
                                        "name": "convert",
                                        "type": "boolean",
                                        "label": "Convert a File",
                                        "required": true
                                    },
                                    {
                                        "name": "folderId",
                                        "type": "text",
                                        "label": "Folder ID",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 17,
                            "module": "regexp:Parser",
                            "version": 1,
                            "parameters": {
                                "global": true,
                                "pattern": "([0-9]{4}\\/[0-9]{2}\\/[0-9]{2})",
                                "multiline": true,
                                "sensitive": true,
                                "singleline": false,
                                "continueWhenNoRes": true,
                                "ignoreInfiniteLoopsWhenGlobal": false
                            },
                            "mapper": {
                                "text": "{{4.data}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2700,
                                    "y": 300,
                                    "name": "get due date"
                                },
                                "restore": {},
                                "parameters": [
                                    {
                                        "name": "pattern",
                                        "type": "text",
                                        "label": "Pattern",
                                        "required": true
                                    },
                                    {
                                        "name": "global",
                                        "type": "boolean",
                                        "label": "Global match",
                                        "required": true
                                    },
                                    {
                                        "name": "sensitive",
                                        "type": "boolean",
                                        "label": "Case sensitive",
                                        "required": true
                                    },
                                    {
                                        "name": "multiline",
                                        "type": "boolean",
                                        "label": "Multiline",
                                        "required": true
                                    },
                                    {
                                        "name": "singleline",
                                        "type": "boolean",
                                        "label": "Singleline",
                                        "required": true
                                    },
                                    {
                                        "name": "continueWhenNoRes",
                                        "type": "boolean",
                                        "label": "Continue the execution of the route even if the module finds no matches",
                                        "required": true
                                    },
                                    {
                                        "name": "ignoreInfiniteLoopsWhenGlobal",
                                        "type": "boolean",
                                        "label": "Ignore errors when there is an infinite search loop",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "$1",
                                        "type": "text",
                                        "label": "$1"
                                    },
                                    {
                                        "name": "i",
                                        "type": "uinteger",
                                        "label": "i"
                                    },
                                    {
                                        "name": "__IMTMATCH__",
                                        "type": "any",
                                        "label": "Fallback Match"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 22,
                            "module": "util:TextAggregator",
                            "version": 1,
                            "parameters": {
                                "feeder": 17,
                                "rowSeparator": "other",
                                "otherRowSeparator": "__"
                            },
                            "mapper": {
                                "value": "{{17.`$1`}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 3000,
                                    "y": 300
                                },
                                "restore": {
                                    "extra": {
                                        "feeder": {
                                            "label": "get due date - Match pattern"
                                        }
                                    },
                                    "parameters": {
                                        "rowSeparator": {
                                            "label": "Other"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "rowSeparator",
                                        "type": "select",
                                        "label": "Row separator",
                                        "validate": {
                                            "enum": [
                                                "\n",
                                                "\t",
                                                "other"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "otherRowSeparator",
                                        "type": "text",
                                        "label": "Separator"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ],
                                "advanced": true
                            }
                        },
                        {
                            "id": 23,
                            "module": "util:SetVariable2",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "name": "arr_date",
                                "scope": "roundtrip",
                                "value": "{{split(22.text; \"__\")}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 3300,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "scope": {
                                            "label": "One cycle"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Variable name",
                                        "required": true
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Variable value"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "arr_date",
                                        "type": "any",
                                        "label": "arr_date"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 18,
                            "module": "todoist:CreateItem",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 98788
                            },
                            "filter": {
                                "name": "2 dates?",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{23.arr_date}}",
                                            "b": "2",
                                            "o": "array:equal"
                                        },
                                        {
                                            "a": "{{get(23.arr_date; 1)}}",
                                            "b": "{{get(23.arr_date; 2)}}",
                                            "o": "date:less"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "due": {
                                    "date": "{{addDays(get(23.arr_date; 2); -3)}}",
                                    "type": "date"
                                },
                                "content": "Pay invoice - {{9.data.name_company}}",
                                "project_id": 0000000000,
                                "section_id": 00000000,
                                "description": "No. {{19.`$1`}}{{19.`$2`}}\n{{16.webViewLink}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 3600,
                                    "y": 300,
                                    "name": "set 3 days before of due date"
                                },
                                "restore": {
                                    "expect": {
                                        "due": {
                                            "nested": {
                                                "type": {
                                                    "mode": "chose",
                                                    "label": "Only date"
                                                },
                                                "is_recurring": {
                                                    "mode": "chose"
                                                }
                                            }
                                        },
                                        "labels": {
                                            "mode": "chose"
                                        },
                                        "priority": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "project_id": {
                                            "mode": "chose",
                                            "label": "Demo - content management"
                                        },
                                        "section_id": {
                                            "mode": "chose",
                                            "label": "Todo"
                                        },
                                        "auto_reminder": {
                                            "mode": "chose"
                                        },
                                        "assigned_by_uid": {
                                            "mode": "chose"
                                        },
                                        "responsible_uid": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "todoist"
                                            },
                                            "label": "Todoist EW"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:todoist",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "content",
                                        "type": "text",
                                        "label": "Content",
                                        "required": true
                                    },
                                    {
                                        "name": "description",
                                        "type": "text",
                                        "label": "Description"
                                    },
                                    {
                                        "name": "project_id",
                                        "type": "select",
                                        "label": "Project"
                                    },
                                    {
                                        "name": "labels",
                                        "type": "select",
                                        "label": "Labels",
                                        "multiple": true
                                    },
                                    {
                                        "name": "due",
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "select",
                                                "label": "Format",
                                                "validate": {
                                                    "enum": [
                                                        "date",
                                                        "datetime"
                                                    ]
                                                }
                                            },
                                            {
                                                "name": "date",
                                                "type": "date",
                                                "label": "Date"
                                            },
                                            {
                                                "name": "string",
                                                "type": "text",
                                                "label": "Human-readable representation of due date"
                                            },
                                            {
                                                "name": "is_recurring",
                                                "type": "boolean",
                                                "label": "Is recurring"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Due date"
                                    },
                                    {
                                        "name": "priority",
                                        "type": "select",
                                        "label": "Priority",
                                        "validate": {
                                            "enum": [
                                                4,
                                                3,
                                                2,
                                                1
                                            ]
                                        }
                                    },
                                    {
                                        "name": "parent_id",
                                        "type": "text",
                                        "label": "Parent ID"
                                    },
                                    {
                                        "name": "responsible_uid",
                                        "type": "select",
                                        "label": "Responsible"
                                    },
                                    {
                                        "name": "assigned_by_uid",
                                        "type": "select",
                                        "label": "Assigned by"
                                    },
                                    {
                                        "name": "auto_reminder",
                                        "type": "boolean",
                                        "label": "Auto reminder"
                                    },
                                    {
                                        "name": "section_id",
                                        "type": "select",
                                        "label": "Section"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us1.make.com"
    }
}