mobile/blueprint-push-automation.json
{
    "name": "push automation for sending email",
    "flow": [
        {
            "id": 4,
            "module": "ios:ButtonPressed",
            "version": 1,
            "parameters": {
                "device": 000000,
                "button": "running-late",
                "scope": "button:running-late"
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0,
                    "name": "push the button!"
                },
                "restore": {
                    "parameters": {
                        "device": {
                            "label": "Ethical Works",
                            "data": {
                                "editable": "undefined"
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "device",
                        "type": "device",
                        "label": "Device",
                        "required": true
                    },
                    {
                        "name": "button",
                        "type": "text",
                        "label": "Button ID",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 10,
            "module": "util:Switcher",
            "version": 1,
            "parameters": {},
            "mapper": {
                "input": "{{formatDate(now; \"Hmm\") <= 2130}}",
                "useRegExpMatch": true,
                "casesTable": [
                    {
                        "pattern": "^true$",
                        "output": "{{true}}"
                    }
                ],
                "elseOutput": "Sorry, I'm running late!"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0,
                    "name": "check if you're running late"
                },
                "restore": {
                    "expect": {
                        "casesTable": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        }
                    }
                },
                "expect": [
                    {
                        "name": "input",
                        "type": "text",
                        "label": "Input"
                    },
                    {
                        "name": "useRegExpMatch",
                        "type": "boolean",
                        "label": "Use regular expressions to match",
                        "required": true
                    },
                    {
                        "name": "casesTable",
                        "type": "array",
                        "label": "Cases",
                        "required": true,
                        "spec": [
                            {
                                "name": "pattern",
                                "label": "Pattern",
                                "type": "text"
                            },
                            {
                                "name": "output",
                                "label": "Output",
                                "type": "any"
                            }
                        ]
                    },
                    {
                        "name": "elseOutput",
                        "type": "any",
                        "label": "Else"
                    }
                ]
            }
        },
        {
            "id": 12,
            "module": "email:ActionSendEmail",
            "version": 7,
            "parameters": {
                "account": 2037,
                "saveAfterSent": false
            },
            "filter": {
                "name": "late?",
                "conditions": [
                    [
                        {
                            "a": "{{10.output}}",
                            "o": "text:notequal",
                            "b": "{{true}}"
                        }
                    ]
                ]
            },
            "mapper": {
                "to": [
                    "mana@ethical.works"
                ],
                "subject": "Sorry, I'm running late!",
                "contentType": "html",
                "attachments": [],
                "cc": [],
                "bcc": [],
                "from": "",
                "sender": "",
                "replyTo": "",
                "inReplyTo": "",
                "references": [],
                "priority": "normal",
                "headers": [],
                "html": "<h1>Terribly sorry...!</h1>\n<p>{{10.output}}</p>"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0,
                    "name": "send an email"
                },
                "restore": {
                    "parameters": {
                        "account": {
                            "label": "Google",
                            "data": {
                                "scoped": "true",
                                "connection": "google-restricted"
                            }
                        },
                        "saveAfterSent": {
                            "label": "No"
                        }
                    },
                    "expect": {
                        "to": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "contentType": {
                            "label": "HTML"
                        },
                        "attachments": {
                            "mode": "chose"
                        },
                        "cc": {
                            "mode": "chose"
                        },
                        "bcc": {
                            "mode": "chose"
                        },
                        "references": {
                            "mode": "chose"
                        },
                        "priority": {
                            "label": "Normal"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "account",
                        "type": "account:smtp,google-restricted",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "saveAfterSent",
                        "type": "select",
                        "label": "Save message after sending",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "to",
                        "type": "array",
                        "label": "To",
                        "required": true,
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address",
                            "required": true
                        }
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject"
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Content Type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "html",
                                "text"
                            ]
                        }
                    },
                    {
                        "name": "attachments",
                        "type": "array",
                        "label": "Attachments",
                        "spec": [
                            {
                                "name": "fileName",
                                "label": "File name",
                                "type": "filename",
                                "required": true,
                                "semantic": "file:name"
                            },
                            {
                                "name": "data",
                                "label": "Data",
                                "type": "buffer",
                                "required": true,
                                "semantic": "file:data"
                            },
                            {
                                "name": "cid",
                                "label": "Content-ID",
                                "type": "text"
                            }
                        ]
                    },
                    {
                        "name": "cc",
                        "type": "array",
                        "label": "Copy recipient",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address"
                        }
                    },
                    {
                        "name": "bcc",
                        "type": "array",
                        "label": "Blind copy recipient",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address"
                        }
                    },
                    {
                        "name": "from",
                        "type": "text",
                        "label": "From"
                    },
                    {
                        "name": "sender",
                        "type": "text",
                        "label": "Sender"
                    },
                    {
                        "name": "replyTo",
                        "type": "text",
                        "label": "Reply-To"
                    },
                    {
                        "name": "inReplyTo",
                        "type": "text",
                        "label": "In-Reply-To"
                    },
                    {
                        "name": "references",
                        "type": "array",
                        "label": "References",
                        "spec": {
                            "type": "text",
                            "label": "Reference",
                            "required": true,
                            "name": "value"
                        }
                    },
                    {
                        "name": "priority",
                        "type": "select",
                        "label": "Priority",
                        "validate": {
                            "enum": [
                                "high",
                                "normal",
                                "low"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "type": "array",
                        "label": "Headers",
                        "spec": [
                            {
                                "name": "key",
                                "label": "Key",
                                "type": "text",
                                "required": true
                            },
                            {
                                "name": "value",
                                "label": "Value",
                                "type": "text",
                                "required": true
                            }
                        ]
                    },
                    {
                        "name": "html",
                        "type": "text",
                        "label": "Content"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": false,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us1.make.com"
    }
}