email-management/blueprint-url-checker-opswat.json
{
    "name": "Check your email security",
    "flow": [
        {
            "id": 4,
            "module": "google-email:TriggerNewEmail",
            "version": 2,
            "parameters": {
                "from": null,
                "text": "",
                "folder": "INBOX",
                "account": 2042,
                "subject": "",
                "criteria": "UNSEEN",
                "markSeen": false,
                "maxResults": 1,
                "searchType": "simple"
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "folder": {
                        "path": [
                            "Inbox"
                        ]
                    },
                    "account": {
                        "label": "Google"
                    },
                    "criteria": {
                        "label": "Only Unread emails"
                    },
                    "searchType": {
                        "label": "Simple filter"
                    }
                },
                "parameters": [
                    {
                        "name": "account",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "searchType",
                        "type": "select",
                        "label": "Filter type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "simple",
                                "gmail"
                            ]
                        }
                    },
                    {
                        "name": "markSeen",
                        "type": "boolean",
                        "label": "Mark email message(s) as read when fetched"
                    },
                    {
                        "name": "maxResults",
                        "type": "uinteger",
                        "label": "Maximum number of results"
                    },
                    {
                        "name": "criteria",
                        "type": "select",
                        "label": "Criteria",
                        "required": true,
                        "validate": {
                            "enum": [
                                "ALL",
                                "SEEN",
                                "UNSEEN"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "email",
                        "label": "Sender email address"
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject"
                    },
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Search phrase"
                    },
                    {
                        "name": "folder",
                        "type": "folder",
                        "label": "Folder",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "regexp:HTMLParser",
            "version": 1,
            "parameters": {
                "continueWhenNoRes": false
            },
            "mapper": {
                "html": "{{4.html}}",
                "elementType": "a"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "elementType": {
                        "label": "Link (a)"
                    }
                },
                "parameters": [
                    {
                        "name": "continueWhenNoRes",
                        "type": "boolean",
                        "label": "Continue the execution of the route even if the module finds no matches",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "elementType",
                        "type": "select",
                        "label": "Element type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "img",
                                "a",
                                "iframe"
                            ]
                        }
                    },
                    {
                        "name": "html",
                        "type": "text",
                        "label": "HTML"
                    }
                ],
                "interface": [
                    {
                        "name": "element",
                        "type": "text",
                        "label": "Element"
                    },
                    {
                        "name": "innerContent",
                        "type": "text",
                        "label": "Inner content"
                    },
                    {
                        "name": "attrs",
                        "spec": [
                            {
                                "name": "href",
                                "type": "text",
                                "label": "href"
                            },
                            {
                                "name": "rel",
                                "type": "text",
                                "label": "rel"
                            },
                            {
                                "name": "target",
                                "type": "text",
                                "label": "target"
                            }
                        ],
                        "type": "collection",
                        "label": "Attributes"
                    }
                ]
            }
        },
        {
            "id": 10,
            "module": "util:TextAggregator",
            "version": 1,
            "parameters": {
                "feeder": 5,
                "rowSeparator": "other",
                "otherRowSeparator": ":::::"
            },
            "mapper": {
                "value": "{{5.attrs.href}}"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "feeder": {
                        "label": "Text parser - Get elements from HTML"
                    },
                    "rowSeparator": {
                        "label": "Other"
                    }
                },
                "parameters": [
                    {
                        "name": "rowSeparator",
                        "type": "select",
                        "label": "Row separator",
                        "validate": {
                            "enum": [
                                "\n",
                                "\t",
                                "other"
                            ]
                        }
                    },
                    {
                        "name": "otherRowSeparator",
                        "type": "text",
                        "label": "Separator"
                    }
                ],
                "expect": [
                    {
                        "name": "value",
                        "type": "text",
                        "label": "Text",
                        "multiline": true
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 11,
            "module": "util:SetVariable2",
            "version": 1,
            "parameters": {},
            "mapper": {
                "name": "array_links",
                "scope": "roundtrip",
                "value": "{{split(10.text; \":::::\")}}"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "scope": {
                        "label": "One cycle"
                    }
                },
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    },
                    {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                    }
                ],
                "interface": [
                    {
                        "name": "array_links",
                        "type": "any",
                        "label": "array_links"
                    }
                ]
            }
        },
        {
            "id": 16,
            "module": "json:CreateJSON",
            "version": 1,
            "parameters": {
                "type": 375,
                "space": ""
            },
            "mapper": {
                "url": "{{11.array_links}}"
            },
            "metadata": {
                "designer": {
                    "x": 422,
                    "y": 306
                },
                "restore": {
                    "url": {
                        "mode": "edit"
                    },
                    "type": {
                        "label": "URL Checker"
                    },
                    "space": {
                        "label": ""
                    }
                },
                "parameters": [
                    {
                        "name": "type",
                        "type": "udt",
                        "label": "Data structure",
                        "required": true
                    },
                    {
                        "name": "space",
                        "type": "select",
                        "label": "Indentation",
                        "validate": {
                            "enum": [
                                "tab",
                                "2",
                                "4"
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "spec": {
                            "type": "text",
                            "multiline": false
                        },
                        "type": "array"
                    }
                ]
            }
        },
        {
            "id": 12,
            "module": "http:ActionSendData",
            "version": 3,
            "parameters": {
                "handleErrors": false,
                "useNewZLibDeCompress": "true"
            },
            "mapper": {
                "ca": "",
                "qs": [],
                "url": "https://api.metadefender.com/v4/url/",
                "data": "{{16.json}}",
                "gzip": true,
                "method": "post",
                "headers": [
                    {
                        "name": "apikey",
                        "value": "your-api-key-here"
                    },
                    {
                        "name": "Content-Type",
                        "value": "application/json"
                    }
                ],
                "timeout": "",
                "useMtls": false,
                "authPass": "",
                "authUser": "",
                "bodyType": "raw",
                "contentType": "application/json",
                "serializeUrl": false,
                "shareCookies": false,
                "parseResponse": true,
                "followRedirect": true,
                "useQuerystring": false,
                "followAllRedirects": false,
                "rejectUnauthorized": true
            },
            "metadata": {
                "designer": {
                    "x": 767,
                    "y": 298
                },
                "restore": {
                    "qs": {
                        "mode": "chose",
                        "items": []
                    },
                    "method": {
                        "mode": "chose",
                        "label": "POST"
                    },
                    "headers": {
                        "mode": "chose",
                        "items": [
                            "undefined",
                            "undefined"
                        ]
                    },
                    "bodyType": {
                        "label": "Raw"
                    },
                    "contentType": {
                        "label": "JSON (application/json)"
                    }
                },
                "parameters": [
                    {
                        "name": "handleErrors",
                        "type": "boolean",
                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                        "required": true
                    },
                    {
                        "name": "useNewZLibDeCompress",
                        "type": "hidden"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "serializeUrl",
                        "type": "boolean",
                        "label": "Serialize URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers",
                        "labels": {
                            "add": "Add a header",
                            "edit": "Edit a header"
                        }
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Query String",
                        "labels": {
                            "add": "Add parameter",
                            "edit": "Edit parameter"
                        }
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "validate": {
                            "enum": [
                                "raw",
                                "x_www_form_urlencoded",
                                "multipart_form_data"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "authUser",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "authPass",
                        "type": "password",
                        "label": "Password"
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "ca",
                        "type": "cert",
                        "label": "Self-signed certificate",
                        "multiline": true
                    },
                    {
                        "name": "rejectUnauthorized",
                        "type": "boolean",
                        "label": "Reject connections that are using unverified (self-signed) certificates",
                        "required": true
                    },
                    {
                        "name": "followRedirect",
                        "type": "boolean",
                        "label": "Follow redirect",
                        "required": true
                    },
                    {
                        "name": "useQuerystring",
                        "type": "boolean",
                        "label": "Disable serialization of multiple same query string keys as arrays",
                        "required": true
                    },
                    {
                        "name": "gzip",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "useMtls",
                        "type": "boolean",
                        "label": "Use Mutual TLS",
                        "required": true
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Content type",
                        "validate": {
                            "enum": [
                                "text/plain",
                                "application/json",
                                "application/xml",
                                "text/xml",
                                "text/html",
                                "custom"
                            ]
                        }
                    },
                    {
                        "name": "data",
                        "type": "buffer",
                        "label": "Request content"
                    },
                    {
                        "name": "followAllRedirects",
                        "type": "boolean",
                        "label": "Follow all redirect",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 20,
            "module": "util:FunctionAggregator2",
            "version": 1,
            "parameters": {
                "fn": "sum",
                "feeder": 12
            },
            "mapper": {
                "value": "{{12.data.data[].lookup_results.detected_by}}"
            },
            "metadata": {
                "designer": {
                    "x": 1115,
                    "y": 295
                },
                "restore": {
                    "fn": {
                        "label": "SUM"
                    },
                    "feeder": {
                        "label": "HTTP - Make a request"
                    }
                },
                "parameters": [
                    {
                        "name": "fn",
                        "type": "select",
                        "label": "Aggregate function",
                        "required": true,
                        "validate": {
                            "enum": [
                                "avg",
                                "sum",
                                "count",
                                "max",
                                "min"
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "value",
                        "type": "number",
                        "label": "Value"
                    }
                ]
            }
        },
        {
            "id": 22,
            "module": "google-email:ActionMoveEmail",
            "version": 2,
            "parameters": {
                "account": 2042
            },
            "filter": {
                "name": "detected",
                "conditions": [
                    [
                        {
                            "a": "{{20.result}}",
                            "b": "0",
                            "o": "number:greater"
                        }
                    ]
                ]
            },
            "mapper": {
                "id": "{{4.id}}",
                "folder": "INBOX",
                "destinationFolder": "[Gmail]/Spam"
            },
            "metadata": {
                "designer": {
                    "x": 1441,
                    "y": 285
                },
                "restore": {
                    "folder": {
                        "mode": "chose",
                        "path": [
                            "Inbox"
                        ]
                    },
                    "account": {
                        "label": "Google"
                    },
                    "destinationFolder": {
                        "mode": "chose",
                        "path": [
                            "Spam"
                        ]
                    }
                },
                "parameters": [
                    {
                        "name": "account",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "id",
                        "type": "number",
                        "label": "Email ID (UID)",
                        "required": true
                    },
                    {
                        "name": "folder",
                        "type": "folder",
                        "label": "Folder",
                        "required": true
                    },
                    {
                        "name": "destinationFolder",
                        "type": "folder",
                        "label": "Destination folder",
                        "required": true
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": false,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us1.make.com"
    }
}