visual-programming/blueprint-1ssas-python.json
{
    "name": "Run Python in your scenario!",
    "flow": [
        {
            "id": 2,
            "module": "util:SetVariable2",
            "version": 1,
            "parameters": {},
            "mapper": {
                "name": "param",
                "scope": "roundtrip",
                "value": "1"
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0,
                    "name": "set a number"
                },
                "restore": {
                    "scope": {
                        "label": "One cycle"
                    }
                },
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    },
                    {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                    }
                ],
                "interface": [
                    {
                        "name": "param",
                        "type": "any",
                        "label": "param"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "onesaas:Python",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 2045
            },
            "mapper": {
                "pythonCode": "import numpy as np\n\narr = np.array([7,6,{{2.param}}])\nmin = str(np.min(arr))\n\nresult = { 'data': min }"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0,
                    "name": "run Python code with NumPy"
                },
                "restore": {
                    "__IMTCONN__": {
                        "label": "1saas"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "pythonCode",
                        "type": "text",
                        "label": "Your Python Code",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "util:GetVariable2",
            "version": 1,
            "parameters": {},
            "mapper": {
                "name": "{{3.data}}"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0,
                    "name": "get result"
                },
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": null,
                        "type": "any",
                        "label": null
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": false,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us1.make.com"
    }
}